ul{ list-style:none;}
*{ margin:0; padding:0;}
body{
	min-height:100%;
	width:100%;
	background-color: #fff;
	font-size:14px;
	line-height:22px;
	font-family: arial,"Hiragino Sans GB","Microsoft Yahei",sans-serif;
	color:#4c4c4c;
}
table {border-collapse:collapse;border-spacing:0;}
a{color:#666; text-decoration:none;}
a:hover{color:#11d5a4;}
a,a:hover {
-webkit-transition: all 0.3s ease-in-out;
-moz-transition: all 0.3s ease-in-out;
-ms-transition: all 0.3s ease-in-out;
-o-transition: all 0.3s ease-in-out;
transition: all 0.3s ease-in-out;
outline: none !important;
}
img{ vertical-align:middle;}

.main{ padding:0 14px; margin:0 auto;}
.fgx_h5{ width:100%; height:5px; background:#f2f2f2;}
.fl40{ float:left; width:40%; overflow:hidden;}
.fl30{ float:left; width:30%; overflow:hidden;}
.fl70{ float:left; width:70%; overflow:hidden;}
.pd-25{padding: 25px;}
.clear{ clear:both; overflow: hidden;}

.preview-iphone{ background-color:transparent;}
.preview-iphone img{ max-width:100%;}

.iphone-main{ position:relative; z-index:1; width:100%;margin:0 auto;overflow-x:hidden;overflow-y:hidden; }
.iphone-bg{ width:100%;}

.article_preview{ position: absolute; z-index:5; top:0; left:0; right:0; bottom:0; padding:26% 7% 29%; overflow:hidden; margin:0 auto; overflow: scroll; background: none;}
.article_preview_box{ background:#fff; height:100%; width:100%; overflow: scroll; margin-left:0px;}
.article_preview_box::-webkit-scrollbar {width: 0px;} 

.article_title{ text-align:center; width:100%; padding:10px 0;}
.article_title input{ font-weight:600; font-size:14px;}
.article_main{ padding:0 10px;}
.article_main p{ margin:0; white-space:pre !important;}

/*=======文章页=======*/
.article_top{ width:100%; overflow:hidden;}
.article_top img{width:100% !important; max-width:100% !important;}
#article_box{ padding:14px; font-family:"Microsoft YaHei","simsun","Helvetica Neue", Arial, Helvetica, sans-serif; font-size:14px;}
#article_box img{ max-width:100%;}
/*头部大图
.article_topimg{ width:100%;position:relative; z-index:1; background: none; -moz-border-radius: 6px; -webkit-border-radius: 6px; border-radius: 6px; overflow:hidden;}
.article_topimg img{ width:100%;}
.article_topimg .title{ position:absolute; left:0; right:0;bottom:0; display:block; z-index:10; height:44px; overflow:hidden; font-size:18px;line-height:44px; color:#fff;  padding:0 9px; background:url(../images/article_title_bg.png) repeat-x;}*/
/*.article_title{text-align:center; line-height:44px; font-size:18px; color:#333;	}*/

.article_title{text-align:left; line-height:22px; padding-bottom:5px; font-size:18px; font-family:"Microsoft YaHei","simsun","Helvetica Neue", Arial, Helvetica, sans-serif; font-weight:normal; }
.article_source{ color:#a9a9a9; line-height:24px; font-size:13px;}
.article_text{ margin-top:10px; color:#4d4d4d; width: 100%; overflow: hidden;}
.article_text p{word-wrap: break-word; white-space:pre !important; }
.related_articles{ font-size:16px; color:#a9a9a9; line-height:30px; margin:5px 0;}
.related_articles i img{width:13px;}

.related_articles_box{ display:block; width:100%; overflow: hidden; border-top:1px solid #e5e5e5; margin-bottom:15px;}
.related_articles_tit{text-align:left; width:100%; line-height:20px; padding:10px 0; font-family:"Microsoft YaHei","simsun","Helvetica Neue", Arial, Helvetica, sans-serif; font-weight:normal; font-size:16px;}
.related_articles_box .articles_thumbnail{float:left; width:28%;}
.related_articles_box .articles_thumbnail img{ width:100%;}
.related_articles_box .articles_digest{float:right; width:70%;}
.related_articles_box .articles_text{max-height:88px; color:#999; overflow:hidden;}

.article_btn{ height:45px; width:100%; margin-top:20px; position:relative; z-index:1; }
.article_btn .praise{position:absolute; width:40%; height:45px; left:0;}
.article_btn .collection{position:absolute; width:40%; height:45px; right:0;}
.article_btn .praise_btn{ display:block; float:right; width:45px; height:45px; position:relative; z-index:1;}
.article_btn .praise_btn img{ width:100%;}
.article_btn .praise_btn span{ display:block; width:24px; left:50%; margin-left:-12px; font-size:10px; position:absolute; bottom:0;text-align:center;}
.article_btn .collection_btn{display:block; float:left; width:45px; height:45px; position:relative; z-index:1;}
.article_btn .collection_btn img{ width:100%;}
.article_btn .collection_btn span{ display:block; width:24px; left:50%; margin-left:-12px; font-size:10px; position:absolute; bottom:0; text-align:center;}

.recommend_title{ font-size:16px; color:#4d4d4d; margin-bottom:8px;}
.recommend_title i img{width:13px;}
.recommend_box{ width:100%; overflow: hidden;}
.recommend_box .recommend_img{float:left; width:25%;}
.recommend_box .recommend_img img{ width:100%;}
.recommend_box .recommend_text{float:right; width:73%;}
.recommend_box .recommend_text h1{ height:17px; line-height:17px; font-size:16px; color:#4d4d4d; overflow:hidden;}
.recommend_box .article_dec{ height:46px; color:#999; overflow:hidden;}
.recommend_box .article_date{ display:block; height:12px; line-height:12px; font-size:12px; color:#999; text-align:right;}
/*=======文章页end=======*/
