 <div id="editModal" class="modal fade modal-darkorange" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="bootbox-close-button close" data-dismiss="modal">×</button>
                <h4 class="modal-title">添加</h4>
            </div>
            <form id="defaultForm" name="mainForm" novalidate>
                <div class="modal-body">
                    <div class="bootbox-body">
                        <div class="row">
                            <div class="col-md-12">
                                <input id="memberId" name="memberId" data-ng-model="formData.id" data-ng-show="false">
                                <div class="form-group">
                                    <label for="nickname">昵称</label>
                                    <input type="text" class="form-control"  id="nickname" name="nickname" data-ng-model="formData.nickname" data-ng-disabled="true">
                                </div>

                            </div>
                        </div>
                        <div class="row" data-ng-controller="acountController">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="roleIds">角色</label>
                                    <select id="roleIds" name="roleIds" multiple class="multiSelect" data-ng-model="roleIds" data-ng-init="getRole()"  required style="width: 100%;">
                                        <option data-ng-repeat="r in RoleData" value="{{r.id}}">{{r.name}}</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <a href="#" class="btn btn-blue" data-dismiss="modal">取消</a>
                    <button type="submit" class="btn btn-danger" data-ng-click="editOther('id','defaultForm')" data-ng-disabled="mainForm.$invalid">提交</button>
                </div>
            </form>
        </div>
    </div>
</div>
    
<script>
    app.controller("acountController",function($scope){

        $scope.getRole=function()
        {
            var dt =common_ajaxTb(getAuthRoleServerUrl,'get','');
            if (dt) {
                $scope.RoleData = dt.result;
            }
        }
    })
</script>

