<div id="popList" class="modal fade bs-example-modal-lg modal-darkorange" tabindex="-1" style="display: none;">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
            	<button type="button" class="bootbox-close-button close" data-dismiss="modal" aria-hidden="true">×</button>
            	<h4 class="modal-title">功能管理</h4>
            </div>
            
            <div class="modal-body">
            	<div class="bootbox-body">
            		
				    <form id="popForm">
					    <div class="row">
                        	<input id="qid" name="id" type="hidden" value="0">
        					<input id="menuid" name="menu.id" type="hidden" value="0">
        						
				            <div class="col-md-4">
					            <div class="form-group">
					                <label for="qname">名称</label>
					                <input type="text" class="form-control" id="qname" name="name" required data-bv-notempty-message="名称不能为空" placeholder="（必填）">
					            </div>
				            </div>
				            <div class="col-md-4">
					            <div class="form-group">
					                <label for="qsign">签名</label>
					                <input type="text" class="form-control" id="qsign" name="sign" required data-bv-notempty-message="签名不能为空" placeholder="（必填）">
					            </div>
				            </div>
				            <div class="col-md-4">
					            <div class="form-group">
					                <label for="qdescription">描述</label>
					                <input type="text" class="form-control" id="qdescription" name="description" required data-bv-notempty-message="描述不能为空" placeholder="（必填）">
					            </div>
				            </div>
				        </div>
				        
				        <div class="row">
				            <div class="col-md-12">
					            <div class="form-group"><button type="submit" class="btn btn-danger" onclick="return sub()">提交</button></div>
				            </div>
					    </div>
					</form>
					
				    <table class="table table-bordered">
				        <thead class="bordered-palegreen">
				            <th width="200">名称</th>
				            <th>描述</th>
				            <th width="180">签名</th>
				            <th width="135">创建时间</th>
				            <th width="65">操作</th>
				        </tr>
				        </thead>
				        <tbody id="box">
				        </tbody>
				    </table>
				</div>
            </div>
        </div>
    </div>
</div>
<script>
	//将需要提交的id赋值
	function popList(obj) {
        var id=$(obj).attr("value");
        if(id>0)
        {
            $("#qid").val(id);
            $("#menuid").val(id);
            //对表格赋值
            $("#box").html(loadHtmlData(id));
        }
    }
    
    //赋值进行编辑
    function editBox(obj,id) {
        $("#qid").val(id);
        $("#qname").val($(obj).parents('tr').find('td').eq(0).html());
        $("#qdescription").val($(obj).parents('tr').find('td').eq(1).html());
        $("#qsign").val($(obj).parents('tr').find('td').eq(2).html());
    }

    function resetData() {
        $("#qid").val(0);
        $("#qname").val("");
        $("#qdescription").val("");
        $("#qsign").val("");

    }


    function loadHtmlData(parid) {
        resetData();
        var html='';
        var commonData=common_ajaxTb("/auth/menu/"+parid+"/permission",'get','');
        if(commonData&&commonData.status==200&&commonData.result.length>0)
        {
            for(var i=0;i<commonData.result.length;i++)
            {
                html+='<tr><td class="s_td">'+commonData.result[i].name+'</td>';
                html+='<td class="s_td">'+commonData.result[i].description+'</td>';
                html+='<td class="s_td">'+commonData.result[i].sign+'</td>';
                html+='<td>'+commonData.result[i].createtime+'</td>';
                html+='<td class="control_detail"><a title="编辑" class="btn btn-default btn-xs shiny icon-only sky" onclick="editBox(this,'+commonData.result[i].id+')" href="javascript:void(0);"><i class="fa fa-edit"></i></a>';
                html+='<a title="删除" class="btn btn-default btn-xs shiny icon-only sky" onclick="javascript:common_del(this,\'/auth/permission/'+commonData.result[i].id+'\');" href="javascript:void(0);"><i class="fa fa-trash-o"></i></a></td></tr>';
            }
        }
        return html;
    }

    function sub() {
        if($("#qname").val()==''||$("#qdescription").val()==''||$("#qsign").val()=='')
            return true;
        else
        {
            var action ='put';
            if( $("#qid").val()=="0")
                action='post';
            var submitData=common_ajaxTb("/auth/permission",action,"popForm");
            if(submitData&&submitData.status==200) {
                layer.msg('保存成功',{time: 1000});
               var  html=loadHtmlData($("#menuid").val());
                $("#box").html(html);
                $("#qid").val('0');
                $("#qname").val('');
                $("#qdescription").val('');
                $("#qsign").val('');
            }
            else
                layer.msg('保存失败',{time: 1000});
            return false;
        }
    }
</script>
