 <form id="defaultForm" >
    <div class="row">
        <input id="id" name="id" type="hidden">
            <div class="col-sm-3">
                <div class="form-group">
                	<input type="hidden" name="permissionIds" id="permissionIds">
                    <label for="name">名称</label>
                    <input type="text" class="form-control" id="name" name="name" required placeholder="（必填）">
                </div>
            </div>
            <div  class="col-sm-3">
                <div class="form-group">
                    <label for="name">签名</label>
                    <input type="text" class="form-control" id="sign" name="sign" required  placeholder="（必填）">
                </div>
            </div>
        <div  class="col-sm-6">
            <div class="form-group">
                <label for="name">描述</label>
                <input type="text" class="form-control" id="description" name="description" required placeholder="（必填）">
            </div>
        </div>
    </div>
</form>
