
<div class="row">
    <div class="col-xs-12 col-md-12">
        <div class="widget">
            <div class="widget-header ">
                <span class="widget-caption">Expandable DataTable</span>
                <div class="widget-buttons">
                    <a href="#" data-toggle="maximize">
                        <i class="fa fa-expand"></i>
                    </a>
                    <a href="#" data-toggle="collapse">
                        <i class="fa fa-minus"></i>
                    </a>
                    <a href="#" data-toggle="dispose">
                        <i class="fa fa-times"></i>
                    </a>
                </div>
            </div>
            <div class="widget-body">
                <table class="table table-striped table-bordered table-hover" id="datatable">
                    <thead>
                    <tr>
                        <th style="width: 96%">
                            栏目名称
                        </th>
                        <th>
                            栏目名称
                        </th>
                        <th  style="display: none">
                            栏目名称
                        </th>
                        <th  style="display: none">
                            栏目名称
                        </th>
                    </tr>
                    </thead>

                    <tbody>
                    </tbody>
                    <script id="tpl" type="text/html">
                        <tr>
                            <td><%=result[i].name%></td>
                            <td>
                                2
                            </td>
                            <td style="display: none"><div class="checkbox"><label><input type="checkbox"  name="subChk" value="<%=result[i].id%>"><span class="text">新增文章管理</span></label></div></td>
                            <td style="display: none"><div class="checkbox"><label><input type="checkbox"  name="subChk" value="<%=result[i].id%>"><span class="text">编辑文章管理</span></label></div></td>
                        </tr>
                        </script>
                </table>
            </div>
        </div>
    </div>
</div>

<!--Page Related Scripts-->
<script src="assets/js/datatable/jquery.dataTables.min.js"></script>
<script>
    var InitiateDataTable = function () {
        return {
            init: function () {
                var j=0;
                /* Formatting function for row details */
                function fnFormatDetails(oTable, nTr) {
                    var aData = oTable.fnGetData(nTr);
                    var sOut = '<table><tr>';
                    j=parseInt(aData[2]);
                    if(j>0)
                    {
                        for(var i=3;i<j+3;i++)
                        {
                            sOut += '<td style="padding: 0 20px;">'+aData[i]+'</td>';
                        }
                    }
                    sOut += '</tr></table>';
                    return sOut;
                }


                /*
                 * Insert a 'details' column to the table
                 */
                var nCloneTh = document.createElement('th');
                var nCloneTd = document.createElement('td');
                nCloneTd.innerHTML = '<i class="fa fa-plus-square-o row-details"></i>';

                $('#datatable thead tr').each(function () {
                    this.insertBefore(nCloneTh, this.childNodes[0]);
                });

                $('#datatable tbody tr').each(function () {
                    this.insertBefore(nCloneTd.cloneNode(true), this.childNodes[0]);
                });

                /*
                 * Initialize DataTables, with no sorting on the 'details' column
                 */
                var oTable = $('#datatable').dataTable({
                    "aoColumnDefs": [{ "bVisible": false, "aTargets": [2] }],
                    "bPaginate": false,
                    "bLengthChange": false,
                    "sProcessing": "正在加载中...",
                    "bFilter": false, //搜索栏
                    "aLengthMenu": [0]

                });


                $('#datatable').on('click', ' tbody td .row-details', function () {
                    var nTr = $(this).parents('tr')[0];
                    if (oTable.fnIsOpen(nTr)) {
                        /* This row is already open - close it */
                        $(this).addClass("fa-plus-square-o").removeClass("fa-minus-square-o");
                        oTable.fnClose(nTr);
                    }
                    else {
                        /* Open this row */
                        $(this).addClass("fa-minus-square-o").removeClass("fa-plus-square-o");;
                        oTable.fnOpen(nTr, fnFormatDetails(oTable, nTr), 'details');
                    }
                });
                $('body').on('click', '.dropdown-menu.hold-on-click', function (e) {
                    e.stopPropagation();
                })
            }
        };
    }();
    InitiateDataTable.init();
    common_getTempData(getAuthMenuServerUrl,true,true,"菜单",true);
</script>