﻿<div class="navbar-inner">
    <div class="navbar-container">
    	
        <div class="navbar-header pull-left">
            <a ui-sref="app.article" class="navbar-brand">
                <small>
                    <img src="assets/img/logo.png" ng-if="!settings.rtl" alt="" />
                </small>
            </a>
        </div>
        
        <div class="sidebar-collapse"></div>
        
        <!-- 账户头像 --->
        <div class="navbar-header pull-right">
            <div class="navbar-account">
                <ul class="account-area">
                    <li>
                        <a class="login-area dropdown-toggle" data-toggle="dropdown">
                            <div class="avatar" title="View your public profile">
                                <img src="{{headImg}}">
                            </div>
                            <section>
                                <h2><span class="profile" ><span data-ng-bind="accountName"></span></span></h2>
                            </section>
                        </a>
                        <!--主题设置-->
                        <ul class="pull-right dropdown-menu dropdown-arrow dropdown-login-area">
                            <li>
                                <div class="avatar-area">
                                    <img src="{{headImg}}" class="avatar">
                                    <span class="caption" data-ng-bind="role"></span>
                                </div>
                            </li>
                            <li class="dropdown-footer">
                                <a href="Javascript: void(0)" ui-sref="logout">退出</a>
                            </li>
                        </ul>
                        <!--/主题设置-->
                    </li>
                </ul>
            </div>
        </div>
        <!-- /账户头像 -->
    </div>
</div>

