﻿<!-- Sidebar Menu -->
<ul class="nav sidebar-menu" id="list_menu">
    <!--首页-->
    <li>
        <a ui-sref="app.home">
            <i class="menu-icon glyphicon glyphicon-home"></i>
            <span class="menu-text"> 首页 </span>
        </a>
    </li>
</ul>
<script id="menu" type="text/html">
    <!--首页-->
    <li>
        <a ui-sref="app.home">
            <i class="menu-icon glyphicon glyphicon-home"></i>
            <span class="menu-text"> 首页 </span>
        </a>
    </li>
    <!--文章管理-->
    <%for(var i=0;i<result.length;i++){
    if(IsMenu(result[i].sign,0,'')){%>
    <li>
        <a href="#" class="menu-dropdown" <%=result[i].url==""?"":"'ui-sref=='"+result[i].url+""%>>
            <i class="menu-icon <%=result[i].icon%>"></i>
            <span class="menu-text"> <%=result[i].name%> </span>
            <i class="menu-expand"></i>
        </a>
        <%if(result[i].sub){%>
        <ul class="submenu">
            <%for(var s=0;s<result[i].sub.length;s++){
             if(IsMenu(result[i].sub[s].sign,1,result[i].sign))
            {
            if(result[i].sub[s].sub){
            %>
            <li>
                <a href="#" class="menu-dropdown">
                    <span class="menu-text"><%=result[i].sub[s].name%></span>
                    <i class="menu-expand"></i>
                </a>
                <ul class="submenu">
                    <%for(var h=0;h<result[i].sub[s].sub.length;h++){
                    if(IsMenu(result[i].sub[s].sub[h].sign,2,result[i].sub[s].sign)){%>
                    <li ui-sref-active="active">
                        <a ui-sref="<%=result[i].sub[s].sub[h].url%>">
                            <i class="menu-icon <%=result[i].sub[s].sub[h].icon%>"></i>
                            <span class="menu-text"><%=result[i].sub[s].sub[h].name%></span>
                        </a>
                    </li>
                    <%}}%>
                </ul>
            </li>
            <%}else{%>
            <li ui-sref-active="active" class="active">
                <a ui-sref="<%=result[i].sub[s].url%>">
                    <span class="menu-text"><%=result[i].sub[s].name%></span>
                </a>
            </li>
            <%}}}%>
        </ul>
        <%}%>
    </li>
    <%}}%>
    </script>

<script>

    app.controller("menuList",function($scope){
        $scope.menu=null;

        $scope.getAllmenu=function()
        {
            var data=common_ajaxLocal(jsonMenu,"get");
            if(data)
                $scope.dataList=data.result;
        }
    })


var dataList=common_ajaxLocal(jsonMenu,"get");

var userMenuData=null;
if(dataList&&dataList.status==200) {
    userMenuData=common_ajax(getLoginMenu,"get","");
    var tpl = document.getElementById('menu').innerHTML;
    var  html=template(tpl, dataList);
    document.getElementById('list_menu').innerHTML = html;

}

//是否显示菜单
function IsMenu(menuSign,index,parentMenuSign)
{
    var nowMenuSign='';
    var b=false;
    if(userMenuData&&userMenuData.status==200&&userMenuData.result.length>0) {
        var b = false;
        for (var j = 0; j < userMenuData.result.length; j++) {
              if(parentMenuSign!='') {
                  nowMenuSign = parentMenuSign + ':' + userMenuData.result[j].sign.split(':')[index];
                  if(nowMenuSign=='phr:autognosis')
                    nowMenuSign='sdl:autognosis';
              }
             else
                  nowMenuSign=userMenuData.result[j].sign.split(':')[index];
            if (menuSign==nowMenuSign) {
                b = true;
                break;
            }
        }
    }
 b=true;
    return b;
}
</script>
<!-- /Sidebar Menu -->
