﻿<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" ng-app="app" ng-controller="AppCtrl">
    <head>
        <meta charset="utf-8" />
        <title page-title>有大有小后台管理系统 V1.0</title>
        <meta name="description" content="有大有小后台管理系统 V1.0" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <link rel="shortcut icon" href="assets/img/favicon.png" type="image/x-icon">

        <!--Basic Styles-->
        <link href="assets/css/bootstrap.min.css" rel="stylesheet" />
        <link href="assets/css/font-awesome.min.css" rel="stylesheet" />
        <link href="assets/css/weather-icons.min.css" rel="stylesheet" />
        <link href="assets/css/font/droidarabickufi.css" rel="stylesheet" />
        <link href="assets/css/font/css.css?family=Open+Sans:300italic,400italic,600italic,700italic,400,600,700,300" rel="stylesheet" />

        <!--Beyond styles-->
        <link ng-if="!settings.rtl" href="assets/css/beyond.min.css" rel="stylesheet" />
        <link href="assets/css/demo.min.css" rel="stylesheet" />
        <link href="assets/css/typicons.min.css" rel="stylesheet" />
        <link href="assets/css/animate.min.css" rel="stylesheet" />
        <!--<link ng-href="{{settings.skin}}" rel="stylesheet" type="text/css" />-->
        <link ng-href="assets/css/skins/teal.min.css" rel="stylesheet" type="text/css" href="assets/css/skins/teal.min.css">
        <link href="assets/css/style.css" rel="stylesheet" />

    </head>

    <body id="body">
    <div id="loading" class="loading">数据加载中..</div>
    <div ui-view  data-ng-controller="login" ></div>

        <!-- Scripts --> 
        <script src="lib/jquery/jquery.min.js"></script>
        <script src="lib/jquery/bootstrap.js"></script>
        <script src="lib/angular/angular.js"></script>

        <script src="lib/utilities.js"></script>

        <script src="lib/angular/angular-animate/angular-animate.js"></script>
        <script src="lib/angular/angular-cookies/angular-cookies.js"></script>
    <script src="lib/angular/angular-resource/angular-resource.js"></script>
        <script src="lib/angular/angular-sanitize/angular-sanitize.js"></script>
        <script src="lib/angular/angular-touch/angular-touch.js"></script>

        <script src="lib/angular/angular-ui-router/angular-ui-router.js"></script>
        <script src="lib/angular/angular-ocLazyLoad/ocLazyLoad.js"></script>
        <script src="lib/angular/angular-ngStorage/ngStorage.js"></script>
        <script src="lib/angular/angular-ui-utils/angular-ui-utils.js"></script>
        <script src="lib/angular/angular-breadcrumb/angular-breadcrumb.js"></script>

        <script src="lib/angular/angular-ui-bootstrap/ui-bootstrap.js"></script>
        
        <script src="lib/jquery/slimscroll/jquery.slimscroll.js"></script>
        
        <!-- App Config and Routing Scripts -->
        <script src="app/app.js"></script>
        <script src="app/config.js"></script>
        <script src="app/config.lazyload.js"></script>
        <script src="app/config.router.js"></script>
        <script src="app/beyond.js"></script>

    <script src="/assets/js/toastr/toastr.js"></script>
        <!-- Layout Related Directives -->
        <script src="app/directives/loading.js"></script>
        <script src="app/directives/skin.js"></script>
        <script src="app/directives/sidebar.js"></script>
        <script src="app/directives/header.js"></script>
        <script src="app/directives/navbar.js"></script>
        <script src="app/directives/chatbar.js"></script>
        <script src="app/directives/widget.js"></script>

        <script src="js/baseURI.js"></script>
        <script src="js/jquerysession.js"></script>
        <script src="js/template.js"></script>
        <script src="js/common.js"></script>
        <script src="controller/login.js"></script>
        <script src="controller/data.list.js"></script>
        <script src="lib/laypage1.3/laypage.js"></script>
        <script src="lib/layer2.1/layer.js"></script>
        <script src="assets/js/bootbox/bootbox.js"></script>
        <script src="assets/js/select2/select2.js"></script>

    
    </body>
</html>