﻿<!-- Navbar -->
<div class="navbar navbar-fixed-top" data-ng-include=" 'views/partials/navbar.html' "></div>
<!-- /Navbar -->

<div class="main-container container-fluid">
    <!-- Page Container -->
    <div class="page-container">
        <!-- Page Sidebar -->
        <div class="page-sidebar sidebar-fixed" id="sidebar"  data-ng-include=" 'views/partials/sidebar.html' ">
        </div>
        <!-- /Page Sidebar -->
        <!-- Page Content -->
        <div class="page-content">
            <!-- Page Header -->
            <div class="page-header position-relative page-header-fixed" data-ng-include=" 'views/partials/header.html' ">
            </div>
            <!-- /Page Header -->
            <!-- Page Body -->


            <div class="page-body"  data-ng-controller="dataList" ui-view>
            </div>
            <!-- /Page Body -->
        </div>
        <!-- /Page Content -->
    </div>
    <!-- /Page Container -->
</div>