﻿<div class="lock-container animated fadeInDown" data-ng-controller="login" data-ng-init="saveUserInfo('get','',1)">
    <div class="lock-box text-align-center" style=" margin: 0 auto; min-height: 320px;">
        <div class="lock-username">管 理 员 登 录</div>
        <img src="./assets/img/avatars/logo_128.jpg" alt="divyia avatar" />
        <div class="lock-password">
            <form class="form-inline" id="loginForm">
                <p>
                <div class="form-group" id="groupAccount">
	                    <span class="input-icon icon-right">
	                    	<input name="username" class="form-control" type="text"  placeholder="帐号"  id="account">
	                    </span>
                </div>
                </p>
                <p>
                <div class="form-group" id="groupPass">
	                    <span class="input-icon icon-right">
	                    	<input name="password" class="form-control" type="password"  id="passWord" placeholder="密码">
	                    </span>
                </div>
                </p>
                <p>
                <div class="checkbox">
                    <label>
                        <input type="checkbox" class="colored-primary" checked="checked"  id="remember">
                        <span class="text darkgray" style="padding-right: 135px;">记住我</span>
                        <input type="hidden"  name="rememberMe" id="rememberMe">
                    </label>
                </div>
                </p>

                <p>
                <div class="loginbox-submit">
                    <input type="button" id="loginBtn" data-ng-click="login()" class="btn btn-primary btn-block" value="登&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;录">
                </div>
                </p>
            </form>
        </div>
    </div>
</div>
<script>
    $("#account").focus();
    enter("loginBtn");
</script>
