<div id="editModal" class="modal fade modal-darkorange" tabindex="-1" data-ng-controller="templateController">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="bootbox-close-button close" data-dismiss="modal">×</button>
                <h4 class="modal-title">添加</h4>
            </div>
            <form id="defaultForm" name="mainForm"  enctype="multipart/form-data"  novalidate>
                <div class="modal-body">
                    <div class="bootbox-body">
                        <div class="row">
                            <div class="col-md-12">
                                <input id="id" name="id" data-ng-model="formData.id" data-ng-show="false">
                                <div class="form-group">
                                    <label for="name">名称</label>
                                    <input type="text" class="form-control"  id="name" name="name" data-ng-model="formData.name" data-ng-change="changeFile()" required placeholder="必填">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-8">
                            <div class="form-group">
                                <label for="desc">描述</label>
                                <textarea rows="4" cols="20" class="form-control" rel="必填" id="desc" name="desc" data-ng-model="formData.desc"></textarea>
                            </div>
                        </div>
                        <div class="col-sm-4" data-ng-show="showFile==undefined?false:showFile">
                            <div class="form-group">
                                <label >模板文件：</label>
                                <table class="tc_table_cp">
                                    <tr>
                                        <td>
                                            <div id="fileList">

                                            </div>
                                            <div class="cp_img_jia" id="filePicker"></div>
                                            <input data-ng-show="false" id="url" name="url" value="" data-ng-model="formData.url"/>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <a href="#" class="btn btn-blue" data-dismiss="modal">取消</a>
                    <button type="submit" class="btn btn-danger" data-ng-click="editOther('id','defaultForm')" data-ng-disabled="mainForm.$invalid">提交</button>
                </div>
            </form>
            <div id="picturs"></div>
        </div>
    </div>
</div>
<!--#include file="/inc/uploadJs.html"-->
<script src="/lib/angular/angular-file-upload/ng-file-upload.min.js"></script>
<script src="/lib/angular/angular-file-upload/ng-file-upload-shim.min.js"></script>
<script>
    //数据赋值
    app.controller('templateController', function ($scope, $Upload) {
        $scope.uploadImg = '';
        //提交
        $scope.submit = function () {
            $scope.upload($scope.file);
        };
        $scope.upload = function (file) {
            $scope.fileInfo = file;
            $Upload.upload({
                //服务端接收
                url: 'Ashx/UploadFile.ashx',
                //上传的同时带的参数
                data: { 'username': $scope.username },
                file: file
            }).progress(function (evt) {
                //进度条
                var progressPercentage = parseInt(100.0 * evt.loaded / evt.total);
                console.log('progess:' + progressPercentage + '%' + evt.config.file.name);
            }).success(function (data, status, headers, config) {
                //上传成功
                console.log('file ' + config.file.name + 'uploaded. Response: ' + data);
                $scope.uploadImg = data;
            }).error(function (data, status, headers, config) {
                //上传失败
                console.log('error status: ' + status);
            });
        };
    });
    //图片地址赋值
    function subInfo()
    {
        $("#url").val($("#picture").val());
    }
</script>