<!DOCTYPE HTML>
<html lang="zh-CN">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>select2 directive</title>
    <link rel="stylesheet" href="common/plugins/bootstrap/dist/css/bootstrap.min.css" />

    <!-- select2 -->
    <link rel="stylesheet" href="common/plugins/select2/select2.css" />
    <link rel="stylesheet" href="common/plugins/select2/select2-bootstrap.css" />
</head>
<body ng-controller="appCtrl">
	<div class="container-fluid">
        <div class="row">
            <div class="col-sm-6 col-sm-offset-3">


                <h4>3. 支持自定义配置及多选（与select2原生的配置方式一致）</h4>
                <span class="text-muted">ng-model:</span> {{ c }}
                <br/>
                <span class="text-muted">select2-model:</span> {{ cS2 | json }}
                <input select2 ng-model="c" select2-model="cS2" config="config3" multiple placeholder="支持多选哦" class="form-control" type="text"/>
                <br/>
                <button ng-click="cS2 = [{id:3,text:'invalid'},{id:4,text:'wontfix'}]" class="btn btn-success btn-sm pull-right">设置数据</button>
                <span class="clearfix"></span>
                <hr/>


            </div>
        </div>
    </div>

	<!-- javascript
		================================================== -->
	<script src="common/plugins/jquery/dist/jquery.min.js" type="text/javascript"></script>
	<script src="common/plugins/angular/angular.min.js" type="text/javascript"></script>
    <!-- select2 -->
	<script src="common/plugins/select2/select2.min.js" type="text/javascript"></script>
	<script src="js/index.js" type="text/javascript"></script>
</body>
</html>