	<div class="row">
	    <div class="col-lg-12 col-sm-12 col-xs-12">
	        <div class="well with-header">
	            <form class="form-horizontal" id="defaultForm">
	                <fieldset>
	                    <div class="form-group">
	                        <label class="col-sm-3 control-label">选择栏目</label>
	                        <div class="col-sm-6">
	                            <select style="width:100%;" id="ids" name="ids" multiple></select>
	                        </div>
	                    </div>
	                    <div class="form-group">
	                        <label class="col-sm-3 control-label">开始时间</label>
	                        <div class="col-sm-6">
	                            <div>
	                                <input class="form-control date-picker" type="text" id="beginTime" name="beginTime" />
	                            </div>
	                        </div>
	                    </div>
	                    <div class="form-group">
	                        <label class="col-sm-3 control-label">结束时间</label>
	                        <div class="col-sm-6">
	                            <div>
	                                <input class="form-control date-picker" type="text" id="endTime" name="endTime" />
	                            </div>
	                        </div>
	                    </div>
	                </fieldset>
	            </form>
              	<!--  ng-controller="ProgressDemoCtrl" <div class="row" id="process" style="display: none">
                    <label class="col-sm-3 control-label"></label>
                    <div class="col-sm-6">
                        <progressbar class="progress-striped" value="percent" type="danger">{{dynamic}}/{{max}}</progressbar>
                    </div>ng-click="submit()"
                </div>-->
                <hr>
                <div class="row" style="text-align: center;">
                    <button id="submit" class="btn btn-danger" onclick="startCreate()" >确定生成</button>
                </div>
            </div>
        </div>
	</div>
	
<link rel="stylesheet" href="./lib/datarangepicker/daterangepicker.css" />
<script src="./lib/datarangepicker/moment.js"></script>
<script src="./lib/datarangepicker/daterangepicker.js"></script>

<script>
    $('.select2-container').remove();
    $("#modeList").select2({placeholder: "(必选)",allowClear: true});
    /*app.controller('ProgressDemoCtrl', function ($scope) {
        $scope.submit=function (){
            $("#categoryIds").attr("disabled","disabled");
            $("#submit").attr("disabled","disabled");
            $("#submit").html("正在生成");
            var categoryid=$("#categoryIds").val()==undefined?0:$("#categoryIds").val();
            var data = common_submit("/ams/articles/static/category/"+categoryid, "put", "defautfrom");
                if (data) {
                    $("#process").show();
                    $scope.max=data.result;
                    var B = setInterval(function () {
                        var completeData = common_getData("/ams/articles/static/category/complete", "");
                        if (completeData) {
                            $scope.dynamic=completeData.result;
                            $scope.percent =($scope.dynamic*100)/($scope.max*1.0);
                            if ( $scope.dynamic== $scope.max) {
                                $("#submit").removeAttr("disabled");
                                $("#submit").html("确定生成");
                                clearTimeout(B);

                            }
                        }
                        else {
                            $("#submit").removeAttr("disabled");
                            $("#categoryIds").removeAttr("disabled");
                            $("#submit").html("确定生成");
                            clearTimeout(B);
                        }

                    }, 2000);
                }
                else {
                    $("#submit").removeAttr("disabled");
                    $("#categoryIds").removeAttr("disabled");
                    $("#submit").html("确定生成");
                }

        }
    });*/
</script>