<div id="popList" class="modal fade bs-example-modal-lg modal-darkorange" tabindex="-1" style="display:none;">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
            	<button type="button" class="bootbox-close-button close" data-dismiss="modal" aria-hidden="true">×</button>
            	<h4 class="modal-title">自诊伴随编辑</h4>
            </div>
            <div class="modal-body">
            	<div class="bootbox-body">
				    <form id="popForm">
					    <div class="row">
                            <input name="autognosisId" data-ng-model="aautognosisId" value="0" data-ng-show="false">
				            <div class="col-md-8">
					            <div class="form-group" data-ng-init="onInitUncoOption()">
					                <label for="auncoOptionId">选择伴随选项</label>
									<select id="auncoOptionId" name="uncoOptionId" data-ng-model="auncoOptionId" rel="必填" style="width:100%;">
										<option data-ng-repeat="unco in uncoOptionData" value="{{unco.id}}">{{getLevel(unco.level)}}-{{getNorm(unco.norm)}}-{{getType(unco.type)}}-{{unco.value}}</option>
									</select>
					            </div>
				            </div>
				            <div class="col-md-2">
					            <div class="form-group">
					                <label>性别</label>
						            <select id="agenders" name="genders" data-ng-model="agenders" rel="必填">
						            </select>
					            </div>
				            </div>
				            <div class="col-md-2">
					            <div class="form-group">
					                <label>排序</label>
						            <input type="number" class="form-control" rel="必填" id="aindexs" name="indexs" data-ng-model="aindexs" value="0" placeholder="值越大排越前">
					            </div>
				            </div>
					    </div>
					    <div class="row">
				            <div class="col-md-12">
					            <div class="form-group">
                                    <button type="button" class="btn btn-info" data-ng-click="resetData()">重置</button>
                                    <button type="submit" class="btn btn-danger" data-ng-click="sub()">提交</button>
                                </div>
				            </div>
				        </div>
					</form>  
				    <table class="table table-bordered">
				        <thead class="bordered-palegreen">
				        	<tr>
					            <th width="70">ID</th>
								<th width="70">伴随ID</th>
					            <th>伴随症状名称</th>
					            <th width="45">性别</th> 
					            <th width="45">排序</th> 
					            <th width="97">操作</th>
				        	</tr>
				        </thead>
				        <tbody>
						<tr data-ng-repeat="data in autognosisRelationData">
							<td>{{data.autognosisId}}</td>
							<td>{{data.uncoOptionId}}</td>
							<td>{{data.uncoOptionName}}</td>
							<td><span data-ng-repeat="d in gendersData">{{data.genders==d.dataValue?d.dataName:""}}</span></td>
							<td>{{data.indexs}}</td>
							<td class="control_detail">
								<a title="删除" class="btn btn-default btn-xs shiny icon-only sky" data-ng-click="deleteAssociated(data.autognosisId,data.uncoOptionId,data.genders)" href="javascript:void(0);"><i class="fa fa-trash-o"></i></a>
								<a data-ng-if="!$first" title="上移" class="btn btn-default btn-xs shiny icon-only sky" data-ng-click="move($index,1)" href="javascript:void(0);"><i class="fa fa-long-arrow-up"></i></a>
								<a data-ng-if="!$last" title="下移" class="btn btn-default btn-xs shiny icon-only sky" data-ng-click="move($index,-1)" href="javascript:void(0);"><i class="fa fa-long-arrow-down"></i></a>
							</td>
						</tr>
				        </tbody>
				    </table>
				    
				</div>
            </div>
        </div>
    </div>
</div>

<script>
	app.controller("associated",function($scope){

	$scope.onInitUncoOption=function() {
		var dt=common_ajaxTb('/phr/handler/uncoOption?size=200','get','');
			if (dt) {
				$scope.uncoOptionData=dt.result;
			}
		}

		$scope.editAssociated=function(id,gender) {
			$("#auncoOptionId").select2({placeholder: "选择字典选项",allowClear: true});
			$scope.gernder=gender;
			$scope.resetData();
			$scope.aautognosisId=id;
			var commonData=common_ajaxTb('/sdl/autognosisRelation/'+id,"get","");
			if(commonData&&commonData.status==200) {
				$scope.autognosisRelationData=commonData.result;
			}else
				$scope.autognosisRelationData=null;

		}

		//删除
		$scope.deleteAssociated=function(autoId,optionId,gender) {
			layer.confirm('确认要删除吗？' ,function(){
				var result=common_ajaxTb('/sdl/autognosisRelation/'+autoId+'/'+optionId+'/'+gender,'delete','');
				if(result.status==200) {
					layer.msg('已删除!', {icon: 1, time: 1000});
					if(!$scope.$$phase) {
						$scope.$apply(function () {
							for (var i = 0; i < $scope.autognosisRelationData.length; i++) {
								if ($scope.autognosisRelationData[i].autognosisId == autoId&&$scope.autognosisRelationData[i].uncoOptionId == optionId) {
									$scope.autognosisRelationData.splice(i, 1);
								}
							}
						})
					}
				}
				else
				{
					layer.msg('删除失败!', {icon: 1, time: 1000});
				}
			});
		}

		//重置
		$scope.resetData=function() {
			if($scope.gernder==1) {
				$("#agenders").empty();
				$("#agenders").append("<option value='1'>男</option>");
			}
			else if($scope.gernder==2) {
				$("#agenders").empty();
				$("#agenders").append("<option value='2'>女</option>");
			}
			else
			{
				$("#agenders").empty();
				$("#agenders").append("<option value='1'>男</option>");
				$("#agenders").append("<option value='2'>女</option>");
				$("#agenders").prepend("<option value='3' selected='selected'>通用</option>");
			}


			$scope.agenders=3;
			$scope.aindexs=0;
			$("#auncoOptionId").val('');
			$("#auncoOptionId").select2({placeholder: "选择字典选项"});
		}

		//提交
		$scope.sub=function() {
			if($("#aindexs").val()==''||$("#auncoOptionId").val()=='') {
				alert("请完善内容");
			}
			else
			{
				var action ='post';
				var submitData=common_ajaxTb('/sdl/autognosisRelation',action,"popForm");
				if(submitData&&submitData.status==200) {
					layer.msg('保存成功',{time: 1000});
					$scope.editAssociated($scope.aautognosisId);
				}
				else
					layer.msg('保存失败',{time: 1000});
			}
		}

		//排序
		$scope.move=function(index,i) {
			var indexs = $scope.autognosisRelationData[index - i].indexs + i;
			var result=common_ajaxTb('/sdl/autognosisRelation?uncoOptionId='+$scope.autognosisRelationData[index].uncoOptionId+'&indexs='+indexs+'&autognosisId='+$scope.aautognosisId,"put","");
			if(result&&result.status==200)
				$scope.editAssociated($scope.aautognosisId,$scope.gernder);
			}


	})
</script>
