
<div id="editModal" class="modal fade modal-darkorange" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="bootbox-close-button close" data-dismiss="modal">×</button>
                <h4 class="modal-title">添加</h4>
            </div>
            <form id="defaultForm" name="mainForm" novalidate>
                <div class="modal-body">
                    <div class="bootbox-body">
                        <div class="row">
                            <div class="col-md-12">
                                <input id="id" name="id" data-ng-show="false" data-ng-model="formData.id">
                                <div class="form-group">
                                    <label>字典选项</label>
                                    <select id="uncoOptionId" name="uncoOptionId" data-ng-model="formData.uncoOptionId" required style="width:100%;">
                                        <option value="">选择字典选项</option>
                                        <option data-ng-repeat="unco in uncoOptionData" value="{{unco.id}}">{{getLevel(unco.level)}}-{{getNorm(unco.norm)}}-{{getType(unco.type)}}-{{unco.value}}</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="genders">性别</label>
                                    <select id="genders" name="genders" data-ng-model="formData.genders" required placeholder="必填">
                                        <option value="">选择性别</option>
                                        <option data-ng-repeat="g in gendersData" value="{{g.dataValue}}">{{g.dataName}}</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="indexs">排序</label>
                                    <input type="number" class="form-control" rel="必填" id="indexs" name="indexs" data-ng-model="formData.indexs" required placeholder="值越大排越前">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <a href="#" class="btn btn-blue" data-dismiss="modal">取消</a>
                    <button type="submit" class="btn btn-danger" data-ng-click="editOther('id','defaultForm')" data-ng-disabled="mainForm.$invalid">提交</button>
                </div>
            </form>
        </div>
    </div>
</div>