﻿@@font-face {
    font-family: 'WYekan';
    src: url('/assets/fonts/BYekan.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
.clear{clear:both; width:100%; overflow:hidden;}
.pa-top0{ padding-top:0;}
.table-toolbar{ padding-top:0}
.s_ceheckbox{ margin:0; text-align:center;}
.s_ceheckbox .text:before{ margin:0 !important;}
.float-right{float: right;}
.bluegreen{color:#03b3b2 !important}
textarea,select{width: 100%;}
.modal{display: none;}
.m-no{margin:0;}
.p-no{padding:0;}


/*控制长文本超出不换行*/
.table{table-layout:fixed;}
.s_td{overflow:hidden;text-overflow:ellipsis;white-space:nowrap;}

/*头部修改*/
.page-header.page-header-fixed {top: 45px;}
.page-header.page-header-fixed+.page-body {margin-top: 45px;}
.breadcrumb{ margin:0;}

/*input右边距离修改*/
.has-feedback .form-control { padding-right: 28px;}

/*分页样式修改*/
#page{ margin-top:20px; text-align: center;}
.laypage_curr{ color:#fff;}

/*多选框样式修改*/
.s_ceheckbox{ margin:0; text-align:center;}
.s_ceheckbox .text:before{ margin:0 !important;}
.select2-screen .select2-search-field input{margin:0 !important;}

/*开关off字体偏移修改*/
input[type=checkbox].checkbox-slider~.text:before{text-indent: -31px;}

/*文章标签外框修改*/
.s_tagsbox{border-radius: 0; box-shadow: 0 0 1px rgba(0,0,0,.6);}

/*文章发布状态标题修改*/
@media (max-width: 768px){
	.page-header .header-buttons{ display:none !important;}
	.s_statustitle{ width: 65px; padding: 0; float: left;}
}


/*咨询窗口修改*/
.mail-container .mail-body{ overflow: visible;}
/*.page-chatbar{ width:100%; margin:0 auto; }*/
.page-chatbar{ width:100%; margin:0 auto; -webkit-box-shadow:0 0 0 0; box-shadow: 0 0 0 0;}
.page-chatbar:before{ width:100%; }
.page-chatbar .chatbar-messages .messages-list .message.reply .message-info .message-time { margin-top: 1px;}
.page-chatbar .chatbar-messages .messages-list .message .message-body {margin-right: auto;display: inline-block; font-size:16px;}
.page-chatbar .chatbar-messages .messages-list .message.reply .message-body {margin-left: auto;display: inline-block;}
.reply{ text-align:right;}
.page-chatbar {height: -webkit-calc(100vh - 90px);height: -moz-calc(100vh - 90px);height: calc(100vh - 90px);}
.page-chatbar .chatbar-messages .messages-list{ padding:10px 15%; max-width:1300px; margin:0 auto; }

.page-chatbar .chatbar-messages .send-message{ height: 140px;}
.help-button{ clear: both;display: block; margin-top: 8px;text-align: right;}
.help-button .btn-xs{ padding: 2px 12px;}
.help-button span.text{ font-size: 12px; color: #737373;  float: left;}

.mail-container .mail-body .mail-list .list-item:nth-child(2n-1) {background: #eee;}
.mail-container .mail-body .mail-list .list-item>div.item-time {width: 125px;}
.mail-container .mail-body .mail-list .list-item>div.item-subject {max-width: 250px;overflow: hidden;}
@media only screen and (max-width: 530px){
	.page-header-fixed { top: 45px !important;}
	.page-header-fixed+.page-body { margin-top: 45px !important;}
	.navbar-fixed-top+.main-container { margin-top: 45px !important;}
	.page-chatbar .chatbar-messages .messages-list{ padding:10px 0;}
}

/*导航栏右侧头像修改*/
.navbar .navbar-inner .navbar-header .navbar-account .account-area{right: 10px;}
@media (min-width:760px){
	.login-area{min-width: 145px !important;}
}

/*表单验证框*/
.login-error input{ border-color: #FF5053 !important;}

/*表单背景色修改*/
.form-control,select{background-color: #fff !important; color: #333 !important;}

.loading{
	width:160px;
	height:56px;
	position: absolute;
	top:50%;
	left:50%;
	margin-left:-80px;
	margin-top:-28px;
	line-height:56px;
	color:#fff;
	padding-left:60px;
	font-size:15px;
	background: #222 url(../img/loading.gif) no-repeat 10px 50%;
	opacity: 0.7;
	z-index:9999;
	-moz-border-radius:20px;
	-webkit-border-radius:20px;
	border-radius:20px;
}
