/*demo样式*/
#picker {
    display: inline-block;
    line-height: 1.428571429;
    vertical-align: middle;
    margin: 0 12px 0 0;
}

    #picker .webuploader-pick {
        padding: 6px 12px;
        display: block;
    }


#uploader-demo .thumbnail {
    width: 110px;
    height: 110px;
}

    #uploader-demo .thumbnail img {
        width: 100%;
    }

.uploader-list {
    width: 100%;
    overflow: hidden;
}

.file-item {
    float: left;
    position: relative;
    margin: 0 20px 20px 0;
    padding: 4px;
}

    .file-item .error {
        position: absolute;
        top: 4px;
        left: 4px;
        right: 4px;
        background: red;
        color: white;
        text-align: center;
        height: 20px;
        font-size: 14px;
        line-height: 23px;
    }

    .file-item .info {
        position: absolute;
        left: 4px;
        bottom: 4px;
        right: 4px;
        height: 20px;
        line-height: 20px;
        text-indent: 5px;
        background: rgba(0, 0, 0, 0.6);
        color: white;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        font-size: 12px;
        z-index: 10;
    }

.upload-state-done:after {
    content: "\f00c";
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 32px;
    position: absolute;
    bottom: 0;
    right: 4px;
    color: #4cae4c;
    z-index: 99;
}

.file-item .progress {
    position: absolute;
    right: 4px;
    bottom: 4px;
    height: 3px;
    left: 4px;
    height: 4px;
    overflow: hidden;
    z-index: 15;
    margin: 0;
    padding: 0;
    border-radius: 0;
    background: transparent;
}

    .file-item .progress span {
        display: block;
        overflow: hidden;
        width: 0;
        height: 100%;
        background: #d14 url(../Images/progress.png) repeat-x;
        -webit-transition: width 200ms linear;
        -moz-transition: width 200ms linear;
        -o-transition: width 200ms linear;
        -ms-transition: width 200ms linear;
        transition: width 200ms linear;
        -webkit-animation: progressmove 2s linear infinite;
        -moz-animation: progressmove 2s linear infinite;
        -o-animation: progressmove 2s linear infinite;
        -ms-animation: progressmove 2s linear infinite;
        animation: progressmove 2s linear infinite;
        -webkit-transform: translateZ(0);
    }


a.travis {
    position: relative;
    top: -4px;
    right: 15px;
}


    .tc_table_cp td {
	    display: block;
	    height: 86px;
	    width: 102px;
	    font-family: "微软雅黑";
	    font-size: 14px;
	    color: #1f2020;
	    overflow: hidden;
    }

    .tc_table_cp input {
        width: 390px;
        height: 30px;
        border: 1px solid #d1ddfa;
        background: #edf0f7;
        padding: 0 6px;
        border-radius: 3px;
    }

    .tc_table_cp .tc_text_hui {
        height: 36px;
        font-family: "微软雅黑";
        font-size: 14px;
        color: #b7b7b7;
        line-height: 36px;
    }


.bd_text {
    border: 1px solid #c4c4c4;
    height: 22px;
    line-height: 30px;
    padding: 4px 10px;
    font-size: 14px;
    color: #666;
    font-family: "微软雅黑";
    border-radius: 3px;
}

.tc_table_cp .bd_width230 {
    width: 238px;
}

.tc_table_cp .bd_width620 {
    width: 628px;
}

.tc_table_cp tr td font {
    padding-left: 6px;
}

.cp_img {
    width: 86px;
    height: 86px;
    float: left;
    border: 1px solid #d3d3d3;
    margin-right: 16px;
    position: relative;
    text-align: center;
    line-height: 70px;
    font-size: 55px;
}
    .cp_img img {
        width: 84px;
    height: 84px;
    }

.cp_img_jian {
    width: 84px;
    height: 84px;
    position: absolute;
    background: url(../Images/cp_img_sc.png) no-repeat center center;
    top: 0;
    left: 0;
    z-index: 100;
    display: none;
}

.cp_img_jia {
    width: 84px;
    height: 84px;
    float: left;
    border: 1px solid #d3d3d3;
    margin-right: 16px;
    background: url(../Images/cp_img_tj.png) no-repeat center center;
}

    .cp_img_jia:hover {
        background: url(../Images/cp_img_tj_a.png) no-repeat center center;
    }
