<div id="editModal" class="modal fade modal-darkorange" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="bootbox-close-button close" data-dismiss="modal">×</button>
                <h4 class="modal-title">添加</h4>
            </div>
            <form id="defaultForm" name="mainForm" novalidate>
                <div class="modal-body">
                    <div class="bootbox-body">
                        <input id="id" name="id" data-ng-model="formData.id" data-ng-show="false">
                        <input id="isNew" name="isNew" data-ng-model="formData.isNew" data-ng-show="false">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="version">版本</label>
                                    <input type="text" class="form-control"  id="version" name="version" data-ng-change="changeFile()" data-ng-model="formData.version" required placeholder="必填">
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="device">设备</label>
                                    <select id="device" name="device" data-ng-model="formData.device" data-ng-change="changeFile()"  required placeholder="必填">
                                        <option value="">选择设备</option>
                                        <option data-ng-repeat=" d in deviceData" value="{{d.dataValue}}">{{d.dataName}}</option>

                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="channel">渠道</label>
                                    <select id="channel" name="channel" data-ng-model="formData.channel" data-ng-change="changeFile()" required placeholder="必填">
                                        <option value="">选择渠道</option>
                                        <option data-ng-repeat="c in channelData" value="{{c.dataValue}}">{{c.dataName}}</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="shows">显示</label>
                                    <select id="shows" name="shows" data-ng-model="formData.shows" required placeholder="必填">
                                        <option value="">请选择</option>
                                        <option value="1">是</option>
                                        <option value="0">否</option>
                                    </select>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="forces">强制更新</label>
                                    <select id="forces" name="forces" data-ng-model="formData.forces" required placeholder="必填">
                                        <option value="">请选择</option>
                                        <option value="0">否</option>
                                        <option value="1" >是</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="login">强制登录</label>
                                    <select id="login" name="login" data-ng-model="formData.login" required placeholder="必填">
                                        <option value="">请选择</option>
                                        <option value="0">否</option>
                                        <option value="1">是</option>
                                    </select>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="url">下载地址</label>
                                    <input type="text" class="form-control"  id="url" name="url" data-ng-model="formData.url" required placeholder="必填">
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="message">更新提示</label>
                                    <textarea rows="2" cols="20" class="form-control" id="message" name="message" data-ng-model="formData.message" required placeholder="必填"></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-8">
                                <div class="form-group">
                                    <label for="message">描述</label>
                                    <textarea rows="4" cols="20" class="form-control" rel="必填" id="outline" name="outline" data-ng-model="formData.outline"></textarea>
                                </div>
                            </div>
                            <div class="col-sm-4" data-ng-show="showFile==undefined?false:showFile">
                                <div class="form-group">
                                    <label >APK文件：</label>
                                    <table class="tc_table_cp">
                                        <tr>
                                            <td>
                                                <div id="fileList">

                                                </div>
                                                <div class="cp_img_jia" id="filePicker"></div>
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="modal-footer">
                    <a href="#" class="btn btn-blue" data-dismiss="modal">取消</a>
                    <button type="submit" class="btn btn-danger" data-ng-click="editOther('id','defaultForm')" data-ng-disabled="mainForm.$invalid">提交</button>
                </div>
            </form>
            <div id="picturs"></div>
        </div>
    </div>
</div>

<!--#include file="/inc/uploadJs.html"-->
<script>

    //数据赋值
    app.controller("appGradeController",function($scope){
        $scope.editInfo=function(id) {
            $scope.edit(id);
            $scope.formData.id=id;
            $("#device").attr("disabled", "disabled");
            $("#channel").attr("disabled", "disabled");
            $("#version").attr("readonly", "readonly");
            $scope.changeFile();
            if($scope.formData.url!="")
            {
                var html = '<div id="WU_FILE_00" class="cp_img upload-state-done" flagId="0"><i class="menu-icon fa fa-android bluegreen"></i><div class="cp_img_jian"></div></div>';
                $("#fileList").html(html);
            }
        }

        /*显示或隐藏上传文件按钮*/
        $scope.changeFile=function()
        {
            $scope.showFile=false;
            $("#fileList").html("");
            $scope.formData.url="";
            if($scope.formData.device!=undefined&&$scope.formData.channel!=undefined&&$scope.formData.channel!='appstore'&&$scope.formData.version!=undefined&& $scope.formData.device!='ios') {
                $scope.showFile = true;
                var  uploadServerUrl='/app/file/upload?version='+$scope.formData.version+'&channel='+$scope.formData.channel;
                $scope.formData.url='http://www.ydyxo.com/app/'+$scope.formData.channel+'_'+$scope.formData.version+".apk";
                loadUpload(uploadServerUrl);
            }
        }
    })



    function subInfo() {

        $("#device").removeAttr("disabled");
        $("#channel").removeAttr("disabled");
        $("#version").removeAttr("readonly");
    }

</script>

