<div id="editModal" class="modal fade modal-darkorange" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="bootbox-close-button close" data-dismiss="modal">×</button>
                <h4 class="modal-title">添加</h4>
            </div>
            <form id="defaultForm" name="mainForm" novalidate>
	            <div class="modal-body">
	                <div class="bootbox-body">
	                    <input id="id" name="id" data-ng-model="formData.id" data-ng-show="false">
	                    	
	                    <div class="row">
							<div class="col-sm-6">
								<div class="form-group">
									<label for="title">标题</label>
		                            <input type="text" class="form-control" id="title" name="title" data-ng-model="formData.title" required  placeholder="必填">
	                            </div>
	                        </div>
	                        <div class="col-sm-6">
	                            <div class="form-group">
	                                <label for="backColor">背景颜色填充</label>
	                                <input type="text" id="backColor" name="backColor" class="form-control colorpicker" data-ng-model="formData.backColor" data-control="wheel" value="#ffffff">
	                            </div>
	                        </div>
						</div>
						
	                    <div class="row">
	                        <div class="col-sm-6">
								<div class="form-group">
									<label for="device">设备</label>
	                                <select id="device" name="device" data-ng-model="formData.device" data-ng-change="setChannel(formData.device)">
	                                    <option value="">选择设备</option>
	                                    <option data-ng-repeat="de in deviceData" value="{{de.dataValue}}">{{de.dataName}}</option>
	                                </select>
	                            </div>
	                        </div>
	                        <div class="col-sm-6">
	                            <div class="form-group">
	                                <label for="bannerChannel">渠道</label>
	                                <select id="bannerChannel" name="channel" data-ng-model="channel"  multiple class="multiSelect" style="width: 100%" >
	                                    <option data-ng-repeat="d in channelData" value="{{d.dataValue}}">{{d.dataName}}</option>
	                                </select>
	                            </div>
	                        </div>
	                    </div>
	                    
	                    <div class="row">
	                    	<div class="col-sm-6">
	                            <div class="form-group">
	                                <label for="clickType">点击类型</label>
	                                <select id="clickType" name="clickType" data-ng-model="formData.clickType">
	                                    <option value="">选择点击类型</option>
	                                    <option data-ng-repeat="dc in bannerClickTypeData" value="{{dc.dataValue}}">{{dc.dataName}}</option>
	                                </select>
	                            </div>
	                        </div>
	                        <div class="col-sm-6">
	                            <div class="form-group">
		                            <label for="url">参数</label>
	                                <input type="text" class="form-control" id="url" name="url" data-ng-model="formData.url" required  placeholder="必填">
	                            </div>
	                        </div>
	                    </div>
	                    
	                    <div class="row">
	                        <div class="col-md-6">
	                            <div class="row">
	                                <div class="col-md-12">
	                                    <div class="form-group">
	                                        <label for="online">是否上线</label>
		                                    <select id="online" name="online" data-ng-model="formData.online" required  placeholder="必选">
												<option value="">请选择</option>
		                                        <option value="1">是</option>
		                                        <option value="0">否</option>
		                                    </select>
		                                </div>
	                            	</div>
	                        		<div class="col-md-12">
	                        			<div class="form-group">
		                                    <label for="sort">排序</label>
	                                		<input type="number" class="form-control" id="sort" name="sort" data-ng-model="formData.sort" required  placeholder="必填">
		                                </div>
	                        		</div>
	                        	</div>
	                        </div>
	                            
	                        <div class="col-sm-6">
	                            <div class="form-group">
	                                <label >封面图片：</label>
	                                <table class="tc_table_cp">
	                                    <tr>
	                                        <td>
	                                            <div id="fileList">
	                                            </div>
	                                            <div class="cp_img_jia" id="filePicker"></div>
	                                        </td>
	                                    </tr>
	                                </table>
	                                <input data-ng-show="false" id="pic" name="pic" value="" data-ng-model="formData.pic"/>
	                            </div>
	                        </div>
	                    </div>
	                    
	                </div>
	            </div>
                <div class="modal-footer">
                    <a href="#" class="btn btn-blue" data-dismiss="modal">取消</a>
                    <button type="submit" class="btn btn-danger" data-ng-click="editOther('id','defaultForm')" data-ng-disabled="mainForm.$invalid">提交</button>
                </div>
            </form>
            <div id="picturs"></div>
        </div>
    </div>
</div>

<!--#include file="/inc/uploadJs.html"-->
<script src="/assets/js/colorpicker/jquery.minicolors.js"></script>
<script>
    //颜色选择插件
    $('.colorpicker').each(function () {
        $(this).minicolors({
            control: $(this).attr('data-control'),
            theme: 'bootstrap'
        });
    });
    
    //图片保存路径
    loadUpload('/app/pic/upload');
   	//数据赋值
    app.controller("bannerController",function($scope){
        $scope.editInfo=function(id) {
            $scope.edit(id);
            $scope.id=id;
            if($scope.formData.pic!='') {
                $("#picturs").html('<input type="hidden" id="picture" name="pictures[0].url" value="' + $scope.formData.pic + '"/>');
                var html = '<div id="WU_FILE_00" class="cp_img upload-state-done" flagId="' + i + '"><img src="' + baseURI + '/application/images' + $scope.formData.pic + '"><div class="cp_img_jian"></div></div>';
                $("#fileList").html(html);
            }
        }

		$scope.downLine= function (event,id,onlined) {
			var online = $(event.target).attr("value");
			if (online == undefined)
				online = onlined == 1 ? 0 : 1;
			layer.confirm(online==0?"确认要下线吗？":"确认要上线吗？" ,function() {
				var dt = common_ajaxTb("/app/banner/online/" + id + "?online=" + online, 'put', '');
				if (dt && dt.status == 200) {
					layer.msg('操作成功!', {icon:1, time: 1000});
					if (online == 0) {
						$(event.target).attr("title", "上线");
						$(event.target).attr("value", "1");
						$(event.target).parents("tr").children('td').eq(8).html("否");
					}
					else {
						$(event.target).attr("title", "下线");
						$(event.target).attr("value", "0");
						$(event.target).parents("tr").children('td').eq(8).html("是");
					}
				}else
				{
					layer.msg('操作失败!', {icon:2, time: 1000});
				}
			})
		}

		$scope.setChannel=function(device)
		{
			$('.select2-container').remove();
			var arr=[];
			for(var i=0;i<$scope.channelData.length;i++)
			{
				if(device=="android"&&$scope.channelData[i].dataValue!="appstore")
					arr.push($scope.channelData[i].dataValue);
				else if(device=="ios"&&$scope.channelData[i].dataValue=="appstore") {
					arr.push($scope.channelData[i].dataValue);
					break;
				}
			}
			$("#bannerChannel").val(arr);
			$scope.channel=eval(arr);
			$(".multiSelect").select2({placeholder: "请选择",allowClear: true});
		}
    })
    
	//图片地址赋值
    function subInfo()
    {
        $("#pic").val($("#picture").val());
    }
</script>

