<div id="editModal" class="modal fade modal-darkorange" tabindex="-1">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="bootbox-close-button close" data-dismiss="modal">×</button>
                <h4 class="modal-title">添加</h4>
            </div>
            <form id="defaultForm" name="mainForm" novalidate>
            <div class="modal-body">
                <div class="bootbox-body">
                    <input id="id" name="id" data-ng-model="formData.id" data-ng-show="false" value="0">
                    <div class="row">
                            <div class="col-sm-3">
	                            <div class="form-group">
	                                <label for="device">设备</label>
	                                <select id="device" name="device" data-ng-model="formData.device" required placeholder="必填">
                                        <option value="">选择设备</option>
	                                    <option data-ng-repeat="d in deviceData" value="{{d.dataValue}}">{{d.dataName}}</option>
	                                </select>
	                            </div>
	                        </div>
                            <div class="col-sm-3">
                                <div class="form-group">
                                    <label for="channel">渠道</label>
                                    <select id="channel" name="channel" data-ng-model="formData.channel" required placeholder="必填">
                                        <option value="">选择渠道</option>
                                        <option data-ng-repeat="d in channelData" value="{{d.dataValue}}">{{d.dataName}}</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-sm-2">
                                <div class="form-group">
                                    <label for="duration">持续时间(秒)</label>
                                    <input type="number" class="form-control" id="duration" name="duration" data-ng-model="formData.duration" required placeholder="必填,数据格式">
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="url">链接地址</label>
                                    <input type="text" class="form-control" id="url" name="url" data-ng-model="formData.url">
                                </div>
                            </div>
                        </div>
                    <div class="row"  >
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="intro">图片说明</label>
                                    <textarea rows="4" cols="20" class="form-control" id="intro" name="intro" data-ng-model="formData.intro"></textarea>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label >封面图片：</label>
                                    <table class="tc_table_cp">
                                        <tr>
                                            <td>
                                                <div id="fileList">
                                                </div>
                                                <div class="cp_img_jia" id="filePicker"></div>
                                            </td>
                                        </tr>
                                    </table>
                                    <input data-ng-show="false" id="pic" name="pic" value="" data-ng-model="formData.pic"/>
                                </div>
                            </div>
                        </div>
                </div>
            </div>
            <div class="modal-footer">
                <a href="#" class="btn btn-blue" data-dismiss="modal">取消</a>
                <button type="submit" class="btn btn-danger" data-ng-click="editOther('id','defaultForm')" data-ng-disabled="mainForm.$invalid">提交</button>
            </div>
            </form>
            <div id="picturs"></div>
        </div>
    </div>
</div>

<!--#include file="/inc/uploadJs.html"-->
<script>
    //图片保存路径
    loadUpload('/app/pic/upload');
   	//数据赋值
    app.controller("flashPageController",function($scope){
        $scope.editInfo=function(id)
        {
            $scope.edit(id);
            if($scope.formData.pic!='') {
                $("#picturs").html('<input type="hidden" id="picture" name="pictures[0].url" value="' + $scope.formData.pic + '"/>');
                var html = '<div id="WU_FILE_00" class="cp_img upload-state-done" flagId="' + i + '"><img src="' + baseURI + '/application/images' + $scope.formData.pic + '"><div class="cp_img_jian"></div></div>';
                $("#fileList").html(html);
            }
        }
    })

    function subInfo() {
        $("#pic").val($("#picture").val());
    }
</script>

