<div class="row">
				<div class="col-lg-12 col-sm-12 col-xs-12">
					<div class="well with-header s_tagsbox">
						<div class="header bordered-darkorange">选择伴随症状</div>
						<div class="row">
							<div class="col-sm-12">
								<div class="form-group">
									<input type="text" class="form-control" onfocus="changeChar()" id="tags" data-ng-model="tags"/>
									<input class="form-control"  id="followSymptomIds" name="followSymptomIds" data-ng-model="followSymptomIds"  type="hidden"/>
								</div>
							</div>
						</div>
						<div class="tabbable">
							<ul class="nav nav-tabs nav-justified" id="myTab10">
								<li class="active tab-blue">
									<a data-toggle="tab" onclick="changeTab('tab-a1')" href="javascript:void(0)">便便</a>
								</li>
								<li class="dropdown tab-blue">
									<a data-toggle="dropdown" class="dropdown-toggle"  href="javascript:void(0)">尿尿<b class="caret"></b></a>
									<ul class="dropdown-menu dropdown-info">
										<li>
											<a data-toggle="tab" onclick="changeTab('tab-a2')" href="javascript:void(0)">尿尿(全部)</a>
										</li>
										<li>
											<a data-toggle="tab" onclick="changeTab('tab-a3')" href="javascript:void(0)">尿尿(通用)</a>
										</li>
										<li>
											<a data-toggle="tab" onclick="changeTab('tab-a4')" href="javascript:void(0)">尿尿(男)</a>
										</li>

										<li>
											<a data-toggle="tab" onclick="changeTab('tab-a5')" href="javascript:void(0)">尿尿(女)</a>
										</li>
									</ul>
								</li>
								
								<li class="tab-blue">
									<a data-toggle="tab" onclick="changeTab('tab-a6')" href="javascript:void(0)">泌尿生殖</a>
								</li>
							</ul>

							<div class="tab-content">
								<div id="tab-a1" class="tab-pane in active">
									<div class="xmenu">
										<dl>
											<dd>
												<ul>

												</ul>
											</dd>
										</dl>
									</div>
								</div>

								<div id="tab-a2" class="tab-pane">
									<div class="xmenu">
										<dl>
											<dd>
												<ul>
												</ul>
											</dd>
										</dl>
									</div>
								</div>

								<div id="tab-a3" class="tab-pane">
									<div class="xmenu">
										<dl>
											<dd>
												<ul>
												</ul>
											</dd>
										</dl>
									</div>
								</div>
								
								<div id="tab-a4" class="tab-pane">
									<div class="xmenu">
										<dl>
											<dd>
												<ul>
												</ul>
											</dd>
										</dl>
									</div>
								</div>
								<div id="tab-a5" class="tab-pane">
									<div class="xmenu">
										<dl>
											<dd>
												<ul>
												</ul>
											</dd>
										</dl>
									</div>
								</div>
								<div id="tab-a6" class="tab-pane">
									<div class="xmenu">
										<dl>
											<dd>
												<ul>
												</ul>
											</dd>
										</dl>
									</div>
								</div>
								
							</div>
						</div>
					</div>
				</div>

			</div>

<!--x-menu-->
<link href="/lib/x-menu/xmenu.css" rel="stylesheet" />
<script src="/lib/x-menu/xmenu.js"></script>

<script>
	var hiddenId='followSymptomIds';
	var showId='tags';
	$(document).ready(function(){

		getSymptomsAll();
		changeChar();
		xmenus();

	});

	//加载全部栏目
	function getSymptomsAll()
	{
		var dt=common_ajax('/sdl/symptoms/all','get',"",false);
		if(dt)
		{
			dt=dt.result;
			$("#tab-a1").find('ul').html('');
			$("#tab-a2").find('ul').html('');
			$("#tab-a3").find('ul').html('');
			$("#tab-a4").find('ul').html('');
			$("#tab-a5").find('ul').html('');
			$("#tab-a6").find('ul').html('');
			for (var i = 0; i <dt.length; i++) {
				if(dt[i].recordType==1)
					$("#tab-a1").find('ul').append('<li rel="'+dt[i].id+'" title="'+dt[i].name+'" >'+dt[i].name+'</li>');
				else if(dt[i].recordType==2)
				{
					$("#tab-a2").find('ul').append('<li rel="'+dt[i].id+'" title="'+dt[i].name+'" >'+dt[i].name+'</li>');
					if(dt[i].gender==3) {
						$("#tab-a5").find('ul').append('<li rel="'+dt[i].id+'" title="'+dt[i].name+'" >'+dt[i].name+'</li>');
						$("#tab-a4").find('ul').append('<li rel="'+dt[i].id+'" title="'+dt[i].name+'" >'+dt[i].name+'</li>');
						$("#tab-a3").find('ul').append('<li rel="' + dt[i].id + '" title="' + dt[i].name + '" >' + dt[i].name + '</li>');
					}
					else if(dt[i].gender==1)
						$("#tab-a4").find('ul').append('<li rel="'+dt[i].id+'" title="'+dt[i].name+'" >'+dt[i].name+'</li>');
					else
						$("#tab-a5").find('ul').append('<li rel="'+dt[i].id+'" title="'+dt[i].name+'" >'+dt[i].name+'</li>');
				}
				else
				{
					$("#tab-a6").find('ul').append('<li rel="'+dt[i].id+'" title="'+dt[i].name+'" >'+dt[i].name+'</li>');
				}
			}
		}
	}
</script>


