<div class="row" data-ng-init="nowPermission()">
	<div class="col-xs-12 col-md-12" data-ng-if="permission!=''">
		<div class="widget">
			<div class="widget-header">
				<span class="widget-caption" id="listName" data-ng-bind="listName"></span>
				<!--<div class="widget-buttons">
				    <a href="" widget-maximize class="pink"></a>
				    <a href="" widget-collapse class="blue"></a>
				    <a href="" widget-dispose class="darkorange"></a>
				</div>-->
			</div>