		<div class="col-xs-12 col-md-12" >
			<a data-ng-if="isPermission('delete')&&(isPermission('list')||isPermission('index'))" class="btn btn-default red left" data-ng-click="deleteMore()"  id="del_model" href="javascript:void(0);"><i class="fa fa-times"></i> 批量删除</a>
		    <a class="btn btn-default purple left"  id="addUrl" data-ng-click="edit(0)" data-toggle="modal" data-target="#editModal" ><i class="fa fa-plus"></i>添加</a>
		    <a class="btn btn-default warning" id="wipeCache" data-ng-click="wipeCache()" style="display: none;"><i class="fa fa-eraser"></i>清除缓存</a>
		
		    <div data-ng-if="isPermission('list')||isPermission('index')" class="btn-group pull-right" style=" margin-left: 5px;">
		        <select  class="form-control input-sm" data-ng-change="changePageSize()"  data-ng-model="pageSize"  id="pageSize">
		            <option value="10" selected="selected">每页显示</option>
		            <option value="15">15</option>
		            <option value="20">20</option>
		            <option value="30">30</option>
		            <option value="50">50</option>
		            <option value="100">100</option>
		        </select>
		    </div>
		</div>
	    <hr>
	    <div class="col-md-4" data-ng-if="(isPermission('list')||isPermission('index'))&&so" >
	        <!--搜索框-->
	        <div class="pull-left" style="width:100%;min-width:150px;">
	            <span class="input-icon icon-right">
	                <input class="form-control input-sm" type="text" name="name" id="keyword" data-ng-model="searchValue" placeholder="搜索关键词">
	                <i class="glyphicon glyphicon-search bluegreen" style="cursor: pointer;" name="sobtn" type="button" data-ng-click="soList()" id="sobtn"></i>
	            </span>
	        </div>
	    </div>

