									<!--x-menu-->
									<div class="row">
										<div class="col-lg-12 col-sm-12 col-xs-12">
											<div class="well with-header s_tagsbox">
												<div class="header bordered-darkorange">标签</div>
												<div class="row">
													<div class="col-sm-12">
														<div class="form-group">
															<!--<label for="tags">已选标签</label>-->
															<!--<input type="text" class="form-control" onkeyup="changeChar()" required data-bv-notempty-message="标签不能为空"  id="tags" name="tags"/>-->
															<input type="text" class="form-control" onblur="changeChar()" id="tags" name="tags" placeholder="多个请用逗号隔开"/>
														</div>
													</div>
												</div>
												<div class="tabbable">
													<ul class="nav nav-tabs nav-justified" id="myTab10">
														<li class="active tab-blue">
															<a data-toggle="tab" onclick="changeTab('tab-a1')" href="javascript:void(0)">今日热点</a>
																</li>
														<li class="tab-red">
															<a data-toggle="tab" onclick="changeTab('tab-a2')" href="javascript:void(0)">健康养生</a>
														</li>
														<li class="tab-blue">
															<a data-toggle="tab" onclick="changeTab('tab-a3')" href="javascript:void(0)">宝妈奶爸</a>
														</li>
														<li class="tab-red">
															<a data-toggle="tab" onclick="changeTab('tab-a4')" href="javascript:void(0)">部位</a>
														</li>
														<li class="tab-blue">
															<a data-toggle="tab" onclick="changeTab('tab-a5')" href="javascript:void(0)">症状</a>
														</li>
														<li class="tab-red">
															<a data-toggle="tab" onclick="changeTab('tab-a6')" href="javascript:void(0)">疾病名称</a>
														</li>
														<li class="tab-blue">
															<a data-toggle="tab" onclick="changeTab('tab-a7')" href="javascript:void(0)">调理</a>
														</li>

														<li class="dropdown tab-blue">
															<a data-toggle="dropdown" class="dropdown-toggle" onclick="changeTab('tab-a8')" href="javascript:void(0)">其他<b class="caret"></b></a>
															<ul class="dropdown-menu dropdown-info">
																<li>
																	<a data-toggle="tab" onclick="changeTab('tab-a8')" href="javascript:void(0)">性别</a>
																</li>

																<li>
																	<a data-toggle="tab" onclick="changeTab('tab-a9')" href="javascript:void(0)">年龄段</a>
																</li>
															</ul>
														</li>
													</ul>

													<div class="tab-content">
														<div id="tab-a1" class="tab-pane active">
															<div class="xmenu">
																<dl>
																	<dd>
																		<ul>
																			<li title="肿瘤" >肿瘤</li>
																			<li title="养生" >养生</li>
																			<li title="育儿" >育儿</li>
																			<li title="医学新闻" >医学新闻</li>
																			<li title="疾病" >疾病</li>
																			<li title="两性" >两性</li>
																		</ul>
																	</dd>
																</dl>
															</div>
														</div>

														<div id="tab-a2" class="tab-pane">
															<div class="xmenu">
																<dl>
																	<dd>
																		<ul>
																			<li title="饮食" >饮食</li>
																			<li title="运动" >运动</li>
																			<li title="心理" >心理</li>
																			<li title="休闲娱乐" >休闲娱乐</li>
																		</ul>
																	</dd>
																</dl>
															</div>
														</div>

														<div id="tab-a3" class="tab-pane">
															<div class="xmenu">
																<dl>
																	<dd>
																		<ul>
																			<li title="百科" >百科</li>
																			<li title="喂养" >喂养</li>
																			<li title="早教" >早教</li>
																			<li title="疾病" >疾病</li>
																		</ul>
																	</dd>
																</dl>
															</div>
														</div>

														<div id="tab-a4" class="tab-pane">
															<div class="xmenu">
																<dl>
																	<dd>
																		<ul>
																			<li title="胃肠道或消化道" >胃肠道或消化道</li>
																			<li title="泌尿系统或尿路" >泌尿系统或尿路</li>
																			<li title="胃" >胃</li>
																			<li title="十二指肠" >十二指肠</li>
																			<li title="肝胆" >肝胆</li>
																			<li title="胰腺" >胰腺</li>
																			<li title="小肠" >小肠</li>
																			<li title="大肠或直肠或结肠" >大肠或直肠或结肠</li>
																			<li title="肛门" >肛门</li>
																			<li title="肾" >肾</li>
																			<li title="输尿管" >输尿管</li>
																			<li title="膀胱" >膀胱</li>
																			<li title="前列腺" >前列腺</li>
																			<li title="尿道" >尿道</li>
																		</ul>
																	</dd>
																</dl>
															</div>
														</div>

														<div id="tab-a5" class="tab-pane">
															<div class="xmenu">
																<dl>
																	<dd>
																		<ul>
																			<li title="便便/大便变扁或变细" >便便/大便变扁或变细</li>
																			<li title="脓血便" >脓血便</li>
																			<li title="大便表面带血或大便带血或便血或血便" >大便表面带血或大便带血或便血或血便</li>
																			<li title="便便/大便有沟槽" >便便/大便有沟槽</li>
																			<li title="粘液便" >粘液便</li>
																			<li title="便便/大便果酱样便" >便便/大便果酱样便</li>
																			<li title="大便/便便黑色" >大便/便便黑色</li>
																			<li title="大便/便便红色" >大便/便便红色</li>
																			<li title="大便/便便灰色" >大便/便便灰色</li>
																			<li title="大便/便便粘稠型" >大便/便便粘稠型</li>
																			<li title="水样便或稀便或拉稀" >水样便或稀便或拉稀</li>
																			<li title="大便/便便软硬掺杂型" >大便/便便软硬掺杂型</li>
																			<li title="大便硬梆梆型或便秘" >大便硬梆梆型或便秘</li>
																			<li title="大便/便便细长型" >大便/便便细长型</li>
																			<li title="米泔样便或大便洗米水样" >米泔样便或大便洗米水样</li>
																			<li title="大便/便便臭或恶臭味或腥臭味" >大便/便便臭或恶臭味或腥臭味</li>
																			<li title="排便不尽感或大便拉不干净" >排便不尽感或大便拉不干净</li>
																			<li title="里急后重" >里急后重</li>
																			<li title="肛门疼痛" >肛门疼痛</li>
																			<li title="大便费力" >大便费力</li>
																			<li title="上腹痛" >上腹痛</li>
																			<li title="下腹痛" >下腹痛</li>
																			<li title="腹胀" >腹胀</li>
																			<li title="恶心" >恶心</li>
																			<li title="呕吐" >呕吐</li>
																			<li title="反酸" >反酸</li>
																			<li title="嗳气" >嗳气</li>
																			<li title="呕血" >呕血</li>
																			<li title="肛门瘙痒" >肛门瘙痒</li>
																			<li title="发热" >发热</li>
																			<li title="小便/尿尿洗肉水样" >小便/尿尿洗肉水样</li>
																			<li title="小便/尿尿红色" >小便/尿尿红色</li>
																			<li title="小便/尿尿茶水色" >小便/尿尿茶水色</li>
																			<li title="小便/尿尿酱油色" >小便/尿尿酱油色</li>
																			<li title="小便/尿尿绿蓝色" >小便/尿尿绿蓝色</li>
																			<li title="小便/尿尿有泡沫久不消失" >小便/尿尿有泡沫久不消失</li>
																			<li title="小便/尿尿混浊" >小便/尿尿混浊</li>
																			<li title="尿道口分泌物" >尿道口分泌物</li>
																			<li title="尿线无力" >尿线无力</li>
																			<li title="尿尿滴沥" >尿尿滴沥</li>
																			<li title="尿线分叉" >尿线分叉</li>
																			<li title="射程短" >射程短</li>
																			<li title="尿不尽感或尿拉不干净" >尿不尽感或尿拉不干净</li>
																			<li title="阴部烧灼感" >阴部烧灼感</li>
																			<li title="排尿困难" >排尿困难</li>
																			<li title="憋不住尿或小便憋不住或尿尿憋不住" >憋不住尿或小便憋不住或尿尿憋不住</li>
																			<li title="尿频" >尿频</li>
																			<li title="尿急" >尿急</li>
																			<li title="尿痛" >尿痛</li>
																			<li title="尿痛" >尿痛</li>
																			<li title="夜尿增多" >夜尿增多</li>
																			<li title="排尿等待" >排尿等待</li>
																			<li title="尿流中断" >尿流中断</li>
																			<li title="会阴疼痛" >会阴疼痛</li>
																			<li title="腰骶部疼痛" >腰骶部疼痛</li>
																			<li title="耻骨上区疼痛不适" >耻骨上区疼痛不适</li>
																			<li title="腰痛" >腰痛</li>
																			<li title="小腹坠胀" >小腹坠胀</li>
																			<li title="腰酸" >腰酸</li>
																			<li title="尿量少或尿少或少尿" >尿量少或尿少或少尿</li>
																			<li title="尿量多或多尿" >尿量多或多尿</li>
																			<li title="有泡沫短暂消失" >有泡沫短暂消失</li>
																			<li title="氨味" >氨味</li>
																			<li title="腐臭味" >腐臭味</li>
																			<li title="烂苹果样气味" >烂苹果样气味</li>
																			<li title="鼠臭味" >鼠臭味</li>
																			<li title="大蒜臭味" >大蒜臭味</li>
																		</ul>
																	</dd>
																</dl>
															</div>
														</div>

														<div id="tab-a6" class="tab-pane">
															<div class="xmenu">
																<dl>
																	<dd>
																		<ul>
																			<li title="急性胃肠炎" >急性胃肠炎</li>
																			<li title="慢性胃炎" >慢性胃炎</li>
																			<li title="急性胃炎" >急性胃炎</li>
																			<li title="胃食管反流" >胃食管反流</li>
																			<li title="胃十二指肠溃疡" >胃十二指肠溃疡</li>
																			<li title="胃癌" >胃癌</li>
																			<li title="胃肠功能紊乱" >胃肠功能紊乱</li>
																			<li title="功能性消化不良" >功能性消化不良</li>
																			<li title="胆道肿瘤" >胆道肿瘤</li>
																			<li title="胰腺癌" >胰腺癌</li>
																			<li title="克罗恩病" >克罗恩病</li>
																			<li title="肠套叠" >肠套叠</li>
																			<li title="肠易激综合征" >肠易激综合征</li>
																			<li title="急性出血性坏死性肠炎" >急性出血性坏死性肠炎</li>
																			<li title="阿米巴痢疾" >阿米巴痢疾</li>
																			<li title="细菌性痢疾" >细菌性痢疾</li>
																			<li title="血吸虫病" >血吸虫病</li>
																			<li title="肠结核" >肠结核</li>
																			<li title="霍乱" >霍乱</li>
																			<li title="溃疡性结肠炎" >溃疡性结肠炎</li>
																			<li title="急性阑尾炎" >急性阑尾炎</li>
																			<li title="慢性腹泻" >慢性腹泻</li>
																			<li title="便秘" >便秘</li>
																			<li title="大肠息肉" >大肠息肉</li>
																			<li title="结肠直肠癌或大肠癌" >结肠直肠癌或大肠癌</li>
																			<li title="直肠造瘘" >直肠造瘘</li>
																			<li title="肛窦炎" >肛窦炎</li>
																			<li title="肛管肿瘤" >肛管肿瘤</li>
																			<li title="肛瘘" >肛瘘</li>
																			<li title="肛裂" >肛裂</li>
																			<li title="肛门狭窄" >肛门狭窄</li>
																			<li title="肛乳头肥大" >肛乳头肥大</li>
																			<li title="肛乳头炎" >肛乳头炎</li>
																			<li title="痔疮" >痔疮</li>
																			<li title="肾癌" >肾癌</li>
																			<li title="肾结核" >肾结核</li>
																			<li title="肾及输尿管结石" >肾及输尿管结石</li>
																			<li title="肾病综合征" >肾病综合征</li>
																			<li title="肾小球疾病" >肾小球疾病</li>
																			<li title="肾虚" >肾虚</li>
																			<li title="肾盂肾炎" >肾盂肾炎</li>
																			<li title="慢性膀胱炎" >慢性膀胱炎</li>
																			<li title="膀胱结石" >膀胱结石</li>
																			<li title="膀胱炎" >膀胱炎</li>
																			<li title="膀胱造瘘" >膀胱造瘘</li>
																			<li title="膀胱肿瘤" >膀胱肿瘤</li>
																			<li title="急性细菌性前列腺炎" >急性细菌性前列腺炎</li>
																			<li title="慢性前列腺炎" >慢性前列腺炎</li>
																			<li title="前列腺炎" >前列腺炎</li>
																			<li title="前列腺增生" >前列腺增生</li>
																			<li title="前列腺肿瘤" >前列腺肿瘤</li>
																			<li title="急性尿道炎" >急性尿道炎</li>
																			<li title="尿道炎" >尿道炎</li>
																			<li title="尿道结石" >尿道结石</li>
																			<li title="尿道狭窄" >尿道狭窄</li>
																			<li title="尿路感染" >尿路感染</li>
																			<li title="尿失禁" >尿失禁</li>
																			<li title="尿潴留" >尿潴留</li>
																		</ul>
																	</dd>
																</dl>
															</div>
														</div>
														
														<div id="tab-a7" class="tab-pane">
															<div class="xmenu">
																<dl>
																	<dd>
																		<ul>
																			<li title="调理或养护或护理或恢复或康复" >调理或养护或护理或恢复或康复</li>
																		</ul>
																	</dd>
																</dl>
															</div>
														</div>

														<div id="tab-a8" class="tab-pane">
															<div class="xmenu">
																<dl>
																	<dd>
																		<ul>
																			<li title="男" >男</li>
																			<li title="女" >女</li>
																		</ul>
																	</dd>
																</dl>
															</div>
														</div>

														<div id="tab-a9" class="tab-pane">
															<div class="xmenu">
																<dl>
																	<dd>
																		<ul>
																			<li title="0-30岁" >0-30岁</li>
																			<li title="30-50岁" >30-50岁</li>
																			<li title="50岁以上" >50岁以上</li>
																		</ul>
																	</dd>
																</dl>
															</div>
														</div>

													</div>
												</div>
											</div>
										</div>

									</div>
<link href="/lib/x-menu/xmenu.css" rel="stylesheet" />
<script src="/lib/x-menu/xmenu.js"></script>
<script>
	var hiddenId='aa';
	var showId='tags';
	$(function(){
		xmenus();
	})
</script>

