<link href="/lib/webuploader0.1.5/css/webuploader.css" rel="stylesheet" />
<link href="/lib/webuploader0.1.5/css/style.css" rel="stylesheet" />
<script src="/lib/webuploader0.1.5/js/webuploader.js"></script>
<script src="/js/upload.js"></script>