<div id="editModal" class="modal fade modal-darkorange" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="bootbox-close-button close" data-dismiss="modal">×</button>
                <h4 class="modal-title">添加</h4>
            </div>
            <form id="defaultForm" name="mainForm" novalidate>
                <div class="modal-body">
                    <div class="bootbox-body">
                        <div class="row">
                            <div class="col-md-12">
                                <input id="id" name="id" data-ng-model="formData.id" data-ng-show="false">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label for="taskName">任务分组</label>
                                        <input type="text" class="form-control" rel="必填" id="taskGroup" name="taskGroup" data-ng-model="formData.taskGroup" required placeholder="必填">
                                    </div>
                                </div>

                                <div class="col-sm-8">
                                    <div class="form-group">
                                        <label for="taskMq">任务队列名称</label>
                                        <input type="text" class="form-control" rel="必填" id="taskMq" name="taskMq" data-ng-model="formData.taskMq" required placeholder="必填">
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">

                                <div class="col-sm-4">
                                    <div class="form-group">
                                        <label for="taskName">任务名称</label>
                                        <input type="text" class="form-control" rel="必填" id="taskName" name="taskName" data-ng-model="formData.taskName" required placeholder="必填">
                                    </div>
                                </div>
                                <div class="col-md-8">
                                    <div class="form-group">
                                        <label for="params">任务参数</label>
                                        <input type="text" class="form-control" rel="必填" id="params" name="params" data-ng-model="formData.params" required placeholder="必填">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <a href="#" class="btn btn-blue" data-dismiss="modal">取消</a>
                    <button type="submit" class="btn btn-danger" data-ng-click="editOther('id','defaultForm')" data-ng-disabled="mainForm.$invalid">提交</button>
                </div>
            </form>
        </div>
    </div>
</div>
