<div id="popList" class="modal fade bs-example-modal-lg modal-darkorange" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true" style="display: none;">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="bootbox-close-button close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title">订阅触发器</h4>
            </div>
            <div class="modal-body">
                <div class="bootbox-body">
                    <form id="popForm" name="popForm" novalidate>
                        <div class="row">
                            <input  name="taskId" data-ng-model="taskId" value="0" id="taskId" data-ng-show="false">
                            <input  name="id" data-ng-model="tid" value="0" data-ng-show="false">
                            <div class="col-md-8">
                                <div class="form-group">
                                    <label>触发器名称</label>
                                    <input type="text" class="form-control" id="triggerName"  name="triggerName" data-ng-model="triggerName" data-ng-focus="changeCron(false)" required placeholder="必填">
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>触发器分组</label>
                                    <input type="text" class="form-control" id="triggerGroup"  name="triggerGroup" data-ng-model="triggerGroup" data-ng-focus="changeCron(false)" required placeholder="必填">
                                    </select>
                                </div>
                            </div>

                        </div>

                        <div class="row">
                            <div class="col-md-8">
                                <div class="form-group">
                                    <label>表达式 </label>
                                    <input type="text" id="cron" name="cron" class="form-control" value="" data-ng-model="cron"  data-ng-focus="changeCron(true)" required placeholder="必选">
                                </div>
                            </div>

                            <div class="col-md-4" data-ng-if="showState">
                                <div class="form-group">
                                    <label>状态 </label>
                                    <select id="state" name="state" data-ng-model="state">
                                        <option value="1">开启</option>
                                        <option value="0">暂停</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div>

                            <div class="row">
                                <div class="col-md-1">
                                    <div class="form-group">
                                        <label>秒</label>
                                        <input type="text" name="v_second" class="form-control" value="*" readonly="readonly">
                                    </div>
                                </div>
                                <div class="col-md-1">
                                    <div class="form-group">
                                        <label>分钟</label>
                                        <input type="text" name="v_min" class="form-control" value="*" readonly="readonly">
                                    </div>
                                </div>
                                <div class="col-md-1">
                                    <div class="form-group">
                                        <label>小时</label>
                                        <input type="text" name="v_hour" class="form-control" value="*" readonly="readonly">
                                    </div>
                                </div>
                                <div class="col-md-1">
                                    <div class="form-group">
                                        <label>日</label>
                                        <input type="text" name="v_day" class="form-control" value="*" readonly="readonly">
                                    </div>
                                </div>
                                <div class="col-md-1">
                                    <div class="form-group">
                                        <label>月</label>
                                        <input type="text" name="v_mouth" class="form-control" value="*" readonly="readonly">
                                    </div>
                                </div>
                                <div class="col-md-1">
                                    <div class="form-group">
                                        <label>周</label>
                                        <input type="text" name="v_week" class="form-control" value="?" readonly="readonly">
                                    </div>
                                </div>
                                <div class="col-md-1">
                                    <div class="form-group">
                                        <label>年</label>
                                        <input type="text" name="v_year" class="form-control" value="*" readonly="readonly">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
								<div class="col-md-12">
									<div class="form-group">
										<label>最近5次运行时间：</label>
										<div id="runTime">
										</div>
									</div>
								</div>
							</div>
                            <hr class="wide">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="tabbable">
                                        <ul class="nav nav-tabs tabs-flat">
                                            <li class="active">
                                                <a data-toggle="tab" onclick="changeTab('tab-a1')" href="javascript:void(0)">秒</a>
                                            </li>
                                            <li>
                                                <a data-toggle="tab" onclick="changeTab('tab-a2')" href="javascript:void(0)">分</a>
                                            </li>
                                            <li>
                                                <a data-toggle="tab" onclick="changeTab('tab-a3')" href="javascript:void(0)">时</a>
                                            </li>
                                            <li>
                                                <a data-toggle="tab" onclick="changeTab('tab-a4')" href="javascript:void(0)">日</a>
                                            </li>
                                            <li>
                                                <a data-toggle="tab" onclick="changeTab('tab-a5')" href="javascript:void(0)">月</a>
                                            </li>
                                            <li>
                                                <a data-toggle="tab" onclick="changeTab('tab-a6')" href="javascript:void(0)">周</a>
                                            </li>
                                            <li>
                                                <a data-toggle="tab" onclick="changeTab('tab-a7')" href="javascript:void(0)">年</a>
                                            </li>
                                        </ul>
                                        <div class="tab-content tabs-flat cron">
                                            <div id="tab-a1" class="tab-pane in active">

                                                <label class="line">
                                                    <input type="radio" checked="checked" name="second" onclick="everyTime(this)">
                                                    <span class="text">每秒 允许的通配符[, - * /]</span>
                                                </label>
                                                <label class="line">
                                                    <input name="second" type="radio" onclick="cycle(this)">
                                                    <span class="text">周期从</span>
                                                    <input class="numberspinner" style="width: 60px;" data-options="min:1,max:58" value="1" id="secondStart_0">
                                                    -
                                                    <input class="numberspinner" style="width: 60px;" data-options="min:2,max:59" value="2" id="secondEnd_0">
                                                    秒
                                                </label>
                                                <label class="line">
                                                    <input name="second" type="radio" onclick="startOn(this)">
                                                    <span class="text">从</span>
                                                    <input class="numberspinner" style="width: 60px;" data-options="min:0,max:59" value="0" id="secondStart_1">
                                                    秒开始,每
                                                    <input class="numberspinner" style="width: 60px;" data-options="min:1,max:59" value="1" id="secondEnd_1">
                                                    秒执行一次
                                                </label>
                                                <label class="line">
                                                    <input name="second" type="radio" id="sencond_appoint">
                                                    <span class="text">指定</span>
                                                </label>

                                                <div class="secondList">
                                                    <label><input type="checkbox" class="colored-blue" value="0"><span class="text">00</span></label>
                                                    <label><input type="checkbox" class="colored-blue" value="1"><span class="text">01</span></label>
                                                    <label><input type="checkbox" class="colored-blue" value="2"><span class="text">02</span></label>
                                                    <label><input type="checkbox" class="colored-blue" value="3"><span class="text">03</span></label>
                                                    <label><input type="checkbox" class="colored-blue" value="4"><span class="text">04</span></label>
                                                    <label><input type="checkbox" class="colored-blue" value="5"><span class="text">05</span></label>
                                                    <label><input type="checkbox" class="colored-blue" value="6"><span class="text">06</span></label>
                                                    <label><input type="checkbox" class="colored-blue" value="7"><span class="text">07</span></label>
                                                    <label><input type="checkbox" class="colored-blue" value="8"><span class="text">08</span></label>
                                                    <label><input type="checkbox" class="colored-blue" value="9"><span class="text">09</span></label>
                                                    <label><input type="checkbox" class="colored-blue" value="10"><span class="text">10</span></label>
                                                    <label><input type="checkbox" class="colored-blue" value="11"><span class="text">11</span></label>
                                                    <label><input type="checkbox" class="colored-blue" value="12"><span class="text">12</span></label>
                                                    <label><input type="checkbox" class="colored-blue" value="13"><span class="text">13</span></label>
                                                    <label><input type="checkbox" class="colored-blue" value="14"><span class="text">14</span></label>
                                                    <label><input type="checkbox" class="colored-blue" value="15"><span class="text">15</span></label>
                                                    <label><input type="checkbox" class="colored-blue" value="16"><span class="text">16</span></label>
                                                    <label><input type="checkbox" class="colored-blue" value="17"><span class="text">17</span></label>
                                                    <label><input type="checkbox" class="colored-blue" value="18"><span class="text">18</span></label>
                                                    <label><input type="checkbox" class="colored-blue" value="19"><span class="text">19</span></label>
                                                    <label><input type="checkbox" class="colored-blue" value="20"><span class="text">20</span></label>
                                                    <label><input type="checkbox" class="colored-blue" value="21"><span class="text">21</span></label>
                                                    <label><input type="checkbox" class="colored-blue" value="22"><span class="text">22</span></label>
                                                    <label><input type="checkbox" class="colored-blue" value="23"><span class="text">23</span></label>
                                                    <label><input type="checkbox" class="colored-blue" value="24"><span class="text">24</span></label>
                                                    <label><input type="checkbox" class="colored-blue" value="25"><span class="text">25</span></label>
                                                    <label><input type="checkbox" class="colored-blue" value="26"><span class="text">26</span></label>
                                                    <label><input type="checkbox" class="colored-blue" value="27"><span class="text">27</span></label>
                                                    <label><input type="checkbox" class="colored-blue" value="28"><span class="text">28</span></label>
                                                    <label><input type="checkbox" class="colored-blue" value="29"><span class="text">29</span></label>
                                                    <label><input type="checkbox" class="colored-blue" value="30"><span class="text">30</span></label>
                                                    <label><input type="checkbox" class="colored-blue" value="31"><span class="text">31</span></label>
                                                    <label><input type="checkbox" class="colored-blue" value="32"><span class="text">32</span></label>
                                                    <label><input type="checkbox" class="colored-blue" value="33"><span class="text">33</span></label>
                                                    <label><input type="checkbox" class="colored-blue" value="34"><span class="text">34</span></label>
                                                    <label><input type="checkbox" class="colored-blue" value="35"><span class="text">35</span></label>
                                                    <label><input type="checkbox" class="colored-blue" value="36"><span class="text">36</span></label>
                                                    <label><input type="checkbox" class="colored-blue" value="37"><span class="text">37</span></label>
                                                    <label><input type="checkbox" class="colored-blue" value="38"><span class="text">38</span></label>
                                                    <label><input type="checkbox" class="colored-blue" value="39"><span class="text">39</span></label>
                                                    <label><input type="checkbox" class="colored-blue" value="40"><span class="text">40</span></label>
                                                    <label><input type="checkbox" class="colored-blue" value="41"><span class="text">41</span></label>
                                                    <label><input type="checkbox" class="colored-blue" value="42"><span class="text">42</span></label>
                                                    <label><input type="checkbox" class="colored-blue" value="43"><span class="text">43</span></label>
                                                    <label><input type="checkbox" class="colored-blue" value="44"><span class="text">44</span></label>
                                                    <label><input type="checkbox" class="colored-blue" value="45"><span class="text">45</span></label>
                                                    <label><input type="checkbox" class="colored-blue" value="46"><span class="text">46</span></label>
                                                    <label><input type="checkbox" class="colored-blue" value="47"><span class="text">47</span></label>
                                                    <label><input type="checkbox" class="colored-blue" value="48"><span class="text">48</span></label>
                                                    <label><input type="checkbox" class="colored-blue" value="49"><span class="text">49</span></label>
                                                    <label><input type="checkbox" class="colored-blue" value="50"><span class="text">50</span></label>
                                                    <label><input type="checkbox" class="colored-blue" value="51"><span class="text">51</span></label>
                                                    <label><input type="checkbox" class="colored-blue" value="52"><span class="text">52</span></label>
                                                    <label><input type="checkbox" class="colored-blue" value="53"><span class="text">53</span></label>
                                                    <label><input type="checkbox" class="colored-blue" value="54"><span class="text">54</span></label>
                                                    <label><input type="checkbox" class="colored-blue" value="55"><span class="text">55</span></label>
                                                    <label><input type="checkbox" class="colored-blue" value="56"><span class="text">56</span></label>
                                                    <label><input type="checkbox" class="colored-blue" value="57"><span class="text">57</span></label>
                                                    <label><input type="checkbox" class="colored-blue" value="58"><span class="text">58</span></label>
                                                    <label><input type="checkbox" class="colored-blue" value="59"><span class="text">59</span></label>
                                                </div>

                                            </div>

                                            <div id="tab-a2" class="tab-pane">

                                                <label>
                                                    <input type="radio" checked="checked" name="min" onclick="everyTime(this)">
                                                    <span class="text">分钟 允许的通配符[, - * /]</span>
                                                </label>
                                                <label>
                                                    <input name="min" type="radio" onclick="cycle(this)">
                                                    <span class="text">周期从</span>
                                                    <input class="numberspinner" style="width: 60px;" data-options="min:1,max:58" value="1" id="minStart_0">
                                                    -
                                                    <input class="numberspinner" style="width: 60px;" data-options="min:2,max:59" value="2" id="minEnd_0">
                                                    分钟
                                                </label>
                                                <label>
                                                    <input name="min" type="radio" onclick="startOn(this)">
                                                    <span class="text">从</span>
                                                    <input class="numberspinner" style="width: 60px;" data-options="min:0,max:59" value="0" id="minStart_1">
                                                    分钟开始,每
                                                    <input class="numberspinner" style="width: 60px;" data-options="min:1,max:59" value="1" id="minEnd_1">
                                                    分钟执行一次
                                                </label>
                                                <label>
                                                    <input name="min" type="radio" id="min_appoint">
                                                    <span class="text">指定</span>
                                                </label>

                                                <div class="minList">
                                                    <label><input type="checkbox" class="colored-blue" value="0"><span class="text">00</span></label>
                                                    <label><input type="checkbox" class="colored-blue" value="1"><span class="text">01</span></label>
                                                    <label><input type="checkbox" class="colored-blue" value="2"><span class="text">02</span></label>
                                                    <label><input type="checkbox" class="colored-blue" value="3"><span class="text">03</span></label>
                                                    <label><input type="checkbox" class="colored-blue" value="4"><span class="text">04</span></label>
                                                    <label><input type="checkbox" class="colored-blue" value="5"><span class="text">05</span></label>
                                                    <label><input type="checkbox" class="colored-blue" value="6"><span class="text">06</span></label>
                                                    <label><input type="checkbox" class="colored-blue" value="7"><span class="text">07</span></label>
                                                    <label><input type="checkbox" class="colored-blue" value="8"><span class="text">08</span></label>
                                                    <label><input type="checkbox" class="colored-blue" value="9"><span class="text">09</span></label>
                                                    <label><input type="checkbox" class="colored-blue" value="10"><span class="text">10</span></label>
                                                    <label><input type="checkbox" class="colored-blue" value="11"><span class="text">11</span></label>
                                                    <label><input type="checkbox" class="colored-blue" value="12"><span class="text">12</span></label>
                                                    <label><input type="checkbox" class="colored-blue" value="13"><span class="text">13</span></label>
                                                    <label><input type="checkbox" class="colored-blue" value="14"><span class="text">14</span></label>
                                                    <label><input type="checkbox" class="colored-blue" value="15"><span class="text">15</span></label>
                                                    <label><input type="checkbox" class="colored-blue" value="16"><span class="text">16</span></label>
                                                    <label><input type="checkbox" class="colored-blue" value="17"><span class="text">17</span></label>
                                                    <label><input type="checkbox" class="colored-blue" value="18"><span class="text">18</span></label>
                                                    <label><input type="checkbox" class="colored-blue" value="19"><span class="text">19</span></label>
                                                    <label><input type="checkbox" class="colored-blue" value="20"><span class="text">20</span></label>
                                                    <label><input type="checkbox" class="colored-blue" value="21"><span class="text">21</span></label>
                                                    <label><input type="checkbox" class="colored-blue" value="22"><span class="text">22</span></label>
                                                    <label><input type="checkbox" class="colored-blue" value="23"><span class="text">23</span></label>
                                                    <label><input type="checkbox" class="colored-blue" value="24"><span class="text">24</span></label>
                                                    <label><input type="checkbox" class="colored-blue" value="25"><span class="text">25</span></label>
                                                    <label><input type="checkbox" class="colored-blue" value="26"><span class="text">26</span></label>
                                                    <label><input type="checkbox" class="colored-blue" value="27"><span class="text">27</span></label>
                                                    <label><input type="checkbox" class="colored-blue" value="28"><span class="text">28</span></label>
                                                    <label><input type="checkbox" class="colored-blue" value="29"><span class="text">29</span></label>
                                                    <label><input type="checkbox" class="colored-blue" value="30"><span class="text">30</span></label>
                                                    <label><input type="checkbox" class="colored-blue" value="31"><span class="text">31</span></label>
                                                    <label><input type="checkbox" class="colored-blue" value="32"><span class="text">32</span></label>
                                                    <label><input type="checkbox" class="colored-blue" value="33"><span class="text">33</span></label>
                                                    <label><input type="checkbox" class="colored-blue" value="34"><span class="text">34</span></label>
                                                    <label><input type="checkbox" class="colored-blue" value="35"><span class="text">35</span></label>
                                                    <label><input type="checkbox" class="colored-blue" value="36"><span class="text">36</span></label>
                                                    <label><input type="checkbox" class="colored-blue" value="37"><span class="text">37</span></label>
                                                    <label><input type="checkbox" class="colored-blue" value="38"><span class="text">38</span></label>
                                                    <label><input type="checkbox" class="colored-blue" value="39"><span class="text">39</span></label>
                                                    <label><input type="checkbox" class="colored-blue" value="40"><span class="text">40</span></label>
                                                    <label><input type="checkbox" class="colored-blue" value="41"><span class="text">41</span></label>
                                                    <label><input type="checkbox" class="colored-blue" value="42"><span class="text">42</span></label>
                                                    <label><input type="checkbox" class="colored-blue" value="43"><span class="text">43</span></label>
                                                    <label><input type="checkbox" class="colored-blue" value="44"><span class="text">44</span></label>
                                                    <label><input type="checkbox" class="colored-blue" value="45"><span class="text">45</span></label>
                                                    <label><input type="checkbox" class="colored-blue" value="46"><span class="text">46</span></label>
                                                    <label><input type="checkbox" class="colored-blue" value="47"><span class="text">47</span></label>
                                                    <label><input type="checkbox" class="colored-blue" value="48"><span class="text">48</span></label>
                                                    <label><input type="checkbox" class="colored-blue" value="49"><span class="text">49</span></label>
                                                    <label><input type="checkbox" class="colored-blue" value="50"><span class="text">50</span></label>
                                                    <label><input type="checkbox" class="colored-blue" value="51"><span class="text">51</span></label>
                                                    <label><input type="checkbox" class="colored-blue" value="52"><span class="text">52</span></label>
                                                    <label><input type="checkbox" class="colored-blue" value="53"><span class="text">53</span></label>
                                                    <label><input type="checkbox" class="colored-blue" value="54"><span class="text">54</span></label>
                                                    <label><input type="checkbox" class="colored-blue" value="55"><span class="text">55</span></label>
                                                    <label><input type="checkbox" class="colored-blue" value="56"><span class="text">56</span></label>
                                                    <label><input type="checkbox" class="colored-blue" value="57"><span class="text">57</span></label>
                                                    <label><input type="checkbox" class="colored-blue" value="58"><span class="text">58</span></label>
                                                    <label><input type="checkbox" class="colored-blue" value="59"><span class="text">59</span></label>
                                                </div>

                                            </div>

                                            <div id="tab-a3" class="tab-pane">

                                                <label>
                                                    <input type="radio" checked="checked" name="hour" onclick="everyTime(this)">
                                                    <span class="text">小时 允许的通配符[, - * /]</span>
                                                </label>
                                                <label>
                                                    <input name="hour" type="radio" onclick="cycle(this)">
                                                    <span class="text">周期从</span>
                                                    <input class="numberspinner" style="width: 60px;" data-options="min:0,max:23" value="0" id="hourStart_0">
                                                    -
                                                    <input class="numberspinner" style="width: 60px;" data-options="min:2,max:23" value="2" id="hourEnd_1">
                                                    小时
                                                </label>
                                                <label>
                                                    <input name="hour" type="radio" onclick="startOn(this)">
                                                    <span class="text">从</span>
                                                    <input class="numberspinner" style="width: 60px;" data-options="min:0,max:23" value="0" id="hourStart_1">
                                                    小时开始,每
                                                    <input class="numberspinner" style="width: 60px;" data-options="min:1,max:23" value="1" id="hourEnd_1">
                                                    小时执行一次
                                                </label>
                                                <label>
                                                    <input name="hour" type="radio" id="hour_appoint">
                                                    <span class="text">指定</span>
                                                </label>

                                                <div class="hourList">
                                                    <label><input type="checkbox" class="colored-blue" value="1"><span class="text">01</span></label>
                                                    <label><input type="checkbox" class="colored-blue" value="2"><span class="text">02</span></label>
                                                    <label><input type="checkbox" class="colored-blue" value="3"><span class="text">03</span></label>
                                                    <label><input type="checkbox" class="colored-blue" value="4"><span class="text">04</span></label>
                                                    <label><input type="checkbox" class="colored-blue" value="5"><span class="text">05</span></label>
                                                    <label><input type="checkbox" class="colored-blue" value="6"><span class="text">06</span></label>
                                                    <label><input type="checkbox" class="colored-blue" value="7"><span class="text">07</span></label>
                                                    <label><input type="checkbox" class="colored-blue" value="8"><span class="text">08</span></label>
                                                    <label><input type="checkbox" class="colored-blue" value="9"><span class="text">09</span></label>
                                                    <label><input type="checkbox" class="colored-blue" value="10"><span class="text">10</span></label>
                                                    <label><input type="checkbox" class="colored-blue" value="11"><span class="text">11</span></label>
                                                    <label><input type="checkbox" class="colored-blue" value="12"><span class="text">12</span></label>
                                                    <label><input type="checkbox" class="colored-blue" value="13"><span class="text">13</span></label>
                                                    <label><input type="checkbox" class="colored-blue" value="14"><span class="text">14</span></label>
                                                    <label><input type="checkbox" class="colored-blue" value="15"><span class="text">15</span></label>
                                                    <label><input type="checkbox" class="colored-blue" value="16"><span class="text">16</span></label>
                                                    <label><input type="checkbox" class="colored-blue" value="17"><span class="text">17</span></label>
                                                    <label><input type="checkbox" class="colored-blue" value="18"><span class="text">18</span></label>
                                                    <label><input type="checkbox" class="colored-blue" value="19"><span class="text">19</span></label>
                                                    <label><input type="checkbox" class="colored-blue" value="20"><span class="text">20</span></label>
                                                    <label><input type="checkbox" class="colored-blue" value="21"><span class="text">21</span></label>
                                                    <label><input type="checkbox" class="colored-blue" value="22"><span class="text">22</span></label>
                                                    <label><input type="checkbox" class="colored-blue" value="23"><span class="text">23</span></label>
                                                </div>

                                            </div>
                                            <div id="tab-a4" class="tab-pane">

                                                <label>
                                                    <input type="radio" checked="checked" name="day" onclick="everyTime(this)">
                                                    <span class="text">日 允许的通配符[, - * /]</span>
                                                </label>
                                                <label>
                                                    <input name="day" type="radio" onclick="unAppoint(this)">
                                                    <span class="text">不指定</span>
                                                </label>
                                                <label>
                                                    <input name="day" type="radio" onclick="cycle(this)">
                                                    <span class="text">周期从</span>
                                                    <input class="numberspinner" style="width: 60px;" data-options="min:1,max:31" value="1" id="dayStart_0">
                                                    -
                                                    <input class="numberspinner" style="width: 60px;" data-options="min:2,max:31" value="2" id="dayEnd_0">
                                                    日
                                                </label>
                                                <label>
                                                    <input name="day" type="radio" onclick="startOn(this)">
                                                    <span class="text">从</span>
                                                    <input class="numberspinner" style="width: 60px;" data-options="min:1,max:31" value="1" id="dayStart_1">
                                                    日开始,每
                                                    <input class="numberspinner" style="width: 60px;" data-options="min:1,max:31" value="1" id="dayEnd_1">
                                                    天执行一次
                                                </label>
                                                <label>
                                                    <input name="day" type="radio" onclick="workDay(this)">
                                                    <span class="text">每月</span>
                                                    <input class="numberspinner" style="width: 60px;" data-options="min:1,max:31" value="1" id="dayStart_2">
                                                    号最近的那个工作日
                                                </label>
                                                <label>
                                                    <input name="day" type="radio" onclick="lastDay(this)">
                                                    <span class="text">本月最后一天</span>
                                                </label>
                                                <label>
                                                    <input name="day" type="radio" id="day_appoint">
                                                    <span class="text">指定</span>
                                                </label>

                                                <div class="dayList">
                                                    <label><input type="checkbox" class="colored-blue" value="1"><span class="text">01</span></label>
                                                    <label><input type="checkbox" class="colored-blue" value="2"><span class="text">02</span></label>
                                                    <label><input type="checkbox" class="colored-blue" value="3"><span class="text">03</span></label>
                                                    <label><input type="checkbox" class="colored-blue" value="4"><span class="text">04</span></label>
                                                    <label><input type="checkbox" class="colored-blue" value="5"><span class="text">05</span></label>
                                                    <label><input type="checkbox" class="colored-blue" value="6"><span class="text">06</span></label>
                                                    <label><input type="checkbox" class="colored-blue" value="7"><span class="text">07</span></label>
                                                    <label><input type="checkbox" class="colored-blue" value="8"><span class="text">08</span></label>
                                                    <label><input type="checkbox" class="colored-blue" value="9"><span class="text">09</span></label>
                                                    <label><input type="checkbox" class="colored-blue" value="10"><span class="text">10</span></label>
                                                    <label><input type="checkbox" class="colored-blue" value="11"><span class="text">11</span></label>
                                                    <label><input type="checkbox" class="colored-blue" value="12"><span class="text">12</span></label>
                                                    <label><input type="checkbox" class="colored-blue" value="13"><span class="text">13</span></label>
                                                    <label><input type="checkbox" class="colored-blue" value="14"><span class="text">14</span></label>
                                                    <label><input type="checkbox" class="colored-blue" value="15"><span class="text">15</span></label>
                                                    <label><input type="checkbox" class="colored-blue" value="16"><span class="text">16</span></label>
                                                    <label><input type="checkbox" class="colored-blue" value="17"><span class="text">17</span></label>
                                                    <label><input type="checkbox" class="colored-blue" value="18"><span class="text">18</span></label>
                                                    <label><input type="checkbox" class="colored-blue" value="19"><span class="text">19</span></label>
                                                    <label><input type="checkbox" class="colored-blue" value="20"><span class="text">20</span></label>
                                                    <label><input type="checkbox" class="colored-blue" value="21"><span class="text">21</span></label>
                                                    <label><input type="checkbox" class="colored-blue" value="22"><span class="text">22</span></label>
                                                    <label><input type="checkbox" class="colored-blue" value="23"><span class="text">23</span></label>
                                                    <label><input type="checkbox" class="colored-blue" value="24"><span class="text">24</span></label>
                                                    <label><input type="checkbox" class="colored-blue" value="25"><span class="text">25</span></label>
                                                    <label><input type="checkbox" class="colored-blue" value="26"><span class="text">26</span></label>
                                                    <label><input type="checkbox" class="colored-blue" value="27"><span class="text">27</span></label>
                                                    <label><input type="checkbox" class="colored-blue" value="28"><span class="text">28</span></label>
                                                    <label><input type="checkbox" class="colored-blue" value="29"><span class="text">29</span></label>
                                                    <label><input type="checkbox" class="colored-blue" value="30"><span class="text">30</span></label>
                                                    <label><input type="checkbox" class="colored-blue" value="31"><span class="text">31</span></label>
                                                </div>

                                            </div>
                                            <div id="tab-a5" class="tab-pane">

                                                <label>
                                                    <input checked="checked" name="mouth" type="radio" onclick="everyTime(this)">
                                                    <span class="text">月 允许的通配符[, - * /]</span>
                                                </label>
                                                <label>
                                                    <input name="mouth" type="radio" onclick="unAppoint(this)">
                                                    <span class="text">不指定</span>
                                                </label>
                                                <label>
                                                    <input name="mouth" type="radio" onclick="cycle(this)">
                                                    <span class="text">周期从</span>
                                                    <input class="numberspinner" style="width: 60px;" data-options="min:1,max:12" value="1" id="mouthStart_0">
                                                    -
                                                    <input class="numberspinner" style="width: 60px;" data-options="min:2,max:12" value="2" id="mouthEnd_0">
                                                    月
                                                </label>
                                                <label>
                                                    <input name="mouth" type="radio" onclick="startOn(this)">
                                                    <span class="text">从</span>
                                                    <input class="numberspinner" style="width: 60px;" data-options="min:1,max:12" value="1" id="mouthStart_1">
                                                    日开始,每
                                                    <input class="numberspinner" style="width: 60px;" data-options="min:1,max:12" value="1" id="mouthEnd_1">
                                                    月执行一次
                                                </label>
                                                <label>
                                                    <input name="mouth" type="radio" id="mouth_appoint">
                                                    <span class="text">指定</span>
                                                </label>

                                                <div class="mouthList">
                                                    <label><input type="checkbox" class="colored-blue" value="1"><span class="text">01</span></label>
                                                    <label><input type="checkbox" class="colored-blue" value="2"><span class="text">02</span></label>
                                                    <label><input type="checkbox" class="colored-blue" value="3"><span class="text">03</span></label>
                                                    <label><input type="checkbox" class="colored-blue" value="4"><span class="text">04</span></label>
                                                    <label><input type="checkbox" class="colored-blue" value="5"><span class="text">05</span></label>
                                                    <label><input type="checkbox" class="colored-blue" value="6"><span class="text">06</span></label>
                                                    <label><input type="checkbox" class="colored-blue" value="7"><span class="text">07</span></label>
                                                    <label><input type="checkbox" class="colored-blue" value="8"><span class="text">08</span></label>
                                                    <label><input type="checkbox" class="colored-blue" value="9"><span class="text">09</span></label>
                                                    <label><input type="checkbox" class="colored-blue" value="10"><span class="text">10</span></label>
                                                    <label><input type="checkbox" class="colored-blue" value="11"><span class="text">11</span></label>
                                                    <label><input type="checkbox" class="colored-blue" value="12"><span class="text">12</span></label>
                                                </div>

                                            </div>

                                            <div id="tab-a6" class="tab-pane">

                                                <label>
                                                    <input name="week" checked="checked" type="radio" onclick="everyTime(this)">
                                                    <span class="text">周 允许的通配符[, - * /]</span>
                                                </label>
                                                <label>
                                                    <input name="week" type="radio" onclick="unAppoint(this)">
                                                    <span class="text">不指定</span>
                                                </label>
                                                <label>
                                                    <input name="week" type="radio" onclick="startOn(this)">
                                                    <span class="text">周期 从星期</span>
                                                    <input class="numberspinner" style="width: 60px;" data-options="min:1,max:7" value="1" id="weekStart_0">
                                                    -
                                                    <input class="numberspinner" style="width: 60px;" data-options="min:2,max:7" value="2" id="weekEnd_0">
                                                </label>
                                                <label>
                                                    <input name="week" type="radio" onclick="weekOfDay(this)">
                                                    <span class="text">第</span>
                                                    <input class="numberspinner" style="width: 60px;" data-options="min:1,max:4" value="1" id="weekStart_1">
                                                    周 的星期
                                                    <input class="numberspinner" style="width: 60px;" data-options="min:1,max:7" value="1" id="weekEnd_1">
                                                </label>
                                                <label>
                                                    <input name="week" type="radio" onclick="lastWeek(this)">
                                                    <span class="text">本月最后一个星期</span>
                                                    <input class="numberspinner" style="width: 60px;" data-options="min:1,max:7" value="1" id="weekStart_2">
                                                </label>
                                                <label>
                                                    <input name="week" type="radio" id="week_appoint">
                                                    <span class="text">指定</span>
                                                </label>

                                                <div class="weekList">
                                                    <label><input type="checkbox" class="colored-blue" value="1"><span class="text">1</span></label>
                                                    <label><input type="checkbox" class="colored-blue" value="2"><span class="text">2</span></label>
                                                    <label><input type="checkbox" class="colored-blue" value="3"><span class="text">3</span></label>
                                                    <label><input type="checkbox" class="colored-blue" value="4"><span class="text">4</span></label>
                                                    <label><input type="checkbox" class="colored-blue" value="5"><span class="text">5</span></label>
                                                    <label><input type="checkbox" class="colored-blue" value="6"><span class="text">6</span></label>
                                                    <label><input type="checkbox" class="colored-blue" value="7"><span class="text">7</span></label>
                                                </div>

                                            </div>
                                            <div id="tab-a7" class="tab-pane">

                                                <label>
                                                    <input name="year" type="radio" onclick="unAppoint(this)">
                                                    <span class="text">不指定 允许的通配符[, - * /] 非必填</span>
                                                </label>
                                                <label>
                                                    <input name="year" type="radio" onclick="everyTime(this)">
                                                    <span class="text">每年</span>
                                                </label>
                                                <label>
                                                    <input name="year" type="radio" onclick="cycle(this)">
                                                    <span class="text">周期 从</span>
                                                    <input class="numberspinner" style="width: 60px;" data-options="min:2016,max:3000" value="2016" id="yearStart_0">
                                                    -
                                                    <input class="numberspinner" style="width: 60px;" data-options="min:2016,max:3000" value="2016" id="yearEnd_0">
                                                </label>


                                            </div>


                                        </div>
                                    </div>

                                </div>
                            </div>

                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <button type="button" class="btn btn-info" data-ng-click="resetData()">重置</button>
                                    <button type="submit" class="btn btn-danger" data-ng-click="sub()" data-ng-disabled="popForm.$invalid">提交</button>
                                </div>
                            </div>
                        </div>
                    </form>
                    <table class="table table-striped table-hover table-bordered table-scrollable" data-ng-if="isPermission('timer:triggerTopic:list')">
                        <thead class="bordered-palegreen">
                        <tr>
                            <th style="width:65px">ID</th>
                            <th style="width:65px">任务Id</th>
                            <th style="width:auto">触发器名称</th>
                            <th style="width:45px">分组</th>
                            <th style="width:105px">表达式</th>
                            <th style="width:45px">状态</th>
                            <th style="width:165px">操作</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr data-ng-repeat="data in autognosisRelationData">
                            <td>{{data.id}}</td>
                            <td>{{data.taskId}}</td>
                            <td>{{data.triggerName}}</td>
                            <td>{{data.triggerGroup}}</td>
                            <td>{{data.cron}}</td>
                            <td>{{data.state==1?"开启":"暂停"}}</td>
                            <td class="control_detail">
                                <a data-ng-if="isPermission('timer:triggerTopic:delete')" title="删除" class="btn btn-default btn-xs shiny icon-only sky" data-ng-click="deleteAssociated(data.id)" href="javascript:void(0);"><i class="fa fa-trash-o"></i></a>
                                <a data-ng-if="isPermission('timer:triggerTopic:edit')" title="编辑" class="btn btn-default btn-xs shiny icon-only sky" data-ng-click="editBox(data.id)"  href="javascript:void(0);"><i class="fa fa-edit"></i></a>
                                <a data-ng-if="isPermission('timer:triggerTopic:resume')"  data-ng-show="data.state==0" title="重启" class="btn btn-default btn-xs shiny icon-only sky" data-ng-click="restart($index)" href="javascript:void(0);"><i class="fa fa-play"></i></a>
                                <a data-ng-if="isPermission('timer:triggerTopic:pause')" data-ng-show="data.state==1" title="暂停" class="btn btn-default btn-xs shiny icon-only sky" data-ng-click="pause($index)" href="javascript:void(0);"><i class="fa fa-pause"></i></a>
                            </td>
                        </tr>
                        </tbody>
                    </table>

                </div>
            </div>
        </div>
    </div>
</div>
