@CHARSET "UTF-8";
/**xmenu样式*/
.xmenu {
    outline: medium none;
	width: 100%;
}
.xmenu dl{ margin: 0;}
.xmenu dl dd {
	padding: 0;
	line-height: 24px;
}

.xmenu dl dd h2 {
	font-size: 15px;
}

.xmenu dl dd ul {
	padding: 0;
   overflow: hidden;
}

.xmenu dl dd ul li {
    cursor: pointer;
    float: left;
    height: 25px;
    overflow: hidden;
    padding: 0 20px;
	color:#666666;

}
.xmenu dl dd ul  li:hover {
    background-color: #DFECFF;
}

.xmenu dl dd ul  li.current {
    color: #F57900;
}


