<div id="editModal" class="modal fade modal-darkorange" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="bootbox-close-button close" data-dismiss="modal">×</button>
                <h4 class="modal-title">添加</h4>
            </div>
            <form id="defaultForm" name="mainForm" novalidate>
                <div class="modal-body">
                    <div class="bootbox-body">
                        <div class="row">
                            <div class="col-md-12">
                                <input id="id" name="id" data-ng-show="false" data-ng-model="formData.id">
                                <div class="form-group">
                                    <label for="name">媒体名称</label>
                                    <input type="text" class="form-control" required  placeholder="媒体名称（必填）" id="name" name="name" data-ng-model="formData.name">
                                </div>
                                <div class="form-group">
                                    <label for="url">媒体地址</label>
                                    <input type="text" class="form-control" required placeholder="媒体地址（必填）" id="url" name="url" data-ng-model="formData.url">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <a href="#" class="btn btn-blue" data-dismiss="modal">取消</a>
                    <button type="submit" class="btn btn-danger" data-ng-click="editOther('id','defaultForm')" data-ng-disabled="mainForm.$invalid">提交</button>
                </div>
            </form>
        </div>
    </div>
</div>
