<div id="editModal" class="modal fade modal-darkorange" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="bootbox-close-button close" data-dismiss="modal">×</button>
                <h4 class="modal-title">添加</h4>
            </div>
            <form id="defaultForm" name="mainForm" novalidate>
                <div class="modal-body">
                    <div class="bootbox-body">
                        <div class="row">
                            <div class="col-md-10">
                                <input id="id" name="id" data-ng-model="formData.id" data-ng-show="false" value="0">
                                <input id="dataKey" name="dataKey" value="index" data-ng-show="false">
                                <div class="form-group">
                                    <label for="dataName">名称</label>
                                    <input type="text" class="form-control"  id="dataName" name="dataName" data-ng-model="formData.dataName"  required placeholder="必填">
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group">
                                    <label for="dataName">排序</label>
                                    <input type="number" class="form-control" id="sort" name="sort" data-ng-model="formData.sort" required placeholder="必填">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="dataValue">对应值</label>
                                    <input type="text" class="form-control" id="dataValue" name="dataValue" data-ng-model="formData.dataValue" required placeholder="必填">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <a href="#" class="btn btn-blue" data-dismiss="modal">取消</a>
                    <button type="submit" class="btn btn-danger" data-ng-click="editOther('id','defaultForm')" data-ng-disabled="mainForm.$invalid">提交</button>
                </div>
            </form>
        </div>
    </div>
</div>
