<div id="popList" class="modal fade modal-darkorange" tabindex="-1" style="display: none;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="bootbox-close-button close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title">字典详细管理</h4>
            </div>
            
            <div class="modal-body">
                <div class="bootbox-body">
                    <form id="dicForm" name="dicForm" novalidate>
                        <div class="row">
                            <input  name="dataKey" data-ng-model="dKey" value="" id="dKey" data-ng-show="false">
                            <input  name="id" id="did" data-ng-model="did" value="0" data-ng-show="false">
                            	
                            <div class="col-md-10">
                                <div class="form-group">
                                    <label>名称</label>
                                    <input type="text" class="form-control" rel="必填" id="dname" name="dataName" data-ng-model="dname" required placeholder="必填">
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group">
                                    <label>排序</label>
                                    <input type="number" class="form-control" rel="必填" id="dsort" name="sort" data-ng-model="dsort" required placeholder="必填 值大排前">
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label>对应值</label>
                                    <input type="text" class="form-control" rel="必填" id="dvalue" name="dataValue" data-ng-model="dvalue" required placeholder="必填">
                                    </select>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <button type="button" class="btn btn-info" data-ng-click="resetData()">重置</button>
                                    <button type="submit" class="btn btn-danger" data-ng-click="sub()"  data-ng-disabled="dicForm.$invalid">提交</button>
                                </div>
                            </div>
                        </div>
                    </form>
                    <table class="table table-bordered" data-ng-if="isPermission('app:dictionary:select')">
                        <thead class="bordered-palegreen">
                        <tr>
                            <th width="70">ID</th>
                            <th>名称</th>
                            <th width="90">对应值</th>
                            <th width="45">排序</th>
                            <th width="69">操作</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr data-ng-repeat="data in autoData">
                            <td>{{data.id}}</td>
                            <td>{{data.dataName}}</td>
                            <td>{{data.dataValue}}</td>
                            <td>{{data.sort}}</td>
                            <td class="control_detail">
                                <a data-ng-if="isPermission('app:dictionary:editDetail')" title="编辑" class="btn btn-default btn-xs shiny icon-only sky" data-ng-click="editBox(data.id)"  href="javascript:void(0);"><i class="fa fa-edit"></i></a>
                                <a data-ng-if="isPermission('app:dictionary:deleteDetail')" title="删除" class="btn btn-default btn-xs shiny icon-only sky" data-ng-click="deleteAssociated(data.id)" href="javascript:void(0);"><i class="fa fa-trash-o"></i></a>
                            </td>
                        </tr>
                        </tbody>
                    </table>

                </div>
            </div>
        </div>
    </div>
</div>

<script>

    app.controller("dictionary",function($scope){
        $scope.showState=false;
        $scope.editAssociated=function(key) {
            $("#dKey").val(key);
            $scope.dKey=key;
            $scope.resetData();
            var commonData=common_ajaxTb('/app/dictionary/select?key='+key,"get","");
            if(commonData&&commonData.status==200) {
                $scope.autoData=commonData.result;
            }else
                $scope.autoData=null;

        }

        //删除
        $scope.deleteAssociated=function(id) {
            layer.confirm('确认要删除吗？' ,function(){
                var result=common_ajaxTb('/app/dictionary/detail/'+id,'delete','');
                if(result.status==200) {
                    layer.msg('已删除!', {icon: 1, time: 1000});
                    if(!$scope.$$phase) {
                        $scope.$apply(function () {
                            for (var i = 0; i < $scope.autoData.length; i++) {
                                if ($scope.autoData[i].id == id) {
                                    $scope.autoData.splice(i, 1);
                                }
                            }
                        })
                    }
                }
                else
                {
                    layer.msg('删除失败!', {icon: 1, time: 1000});
                }
            });
        }

        //重置
        $scope.resetData=function() {
            $scope.dname='';
            $scope.dvalue='';
            $scope.did=0;
            $scope.dsort=0;
        }

        //提交
        $scope.sub=function() {
            if($("#dname").val()==''||$("#dvalue").val()==''||$("#dsort").val()=='') {
                alert("请完善内容");
            }
            else
            {
                var action ='post';
                if($scope.did>0)
                    action='put';
                var submitData=common_ajaxTb('/app/dictionary/detail',action,"dicForm");
                if(submitData&&submitData.status==200) {
                    layer.msg('保存成功',{time: 1000});
                    $scope.editAssociated($scope.dKey);
                }
                else
                    layer.msg('保存失败',{time: 1000});
            }
        }

        $scope.editBox=function(id) {
            var data=common_ajaxTb('/app/dictionary/'+id,'get','');
            if(data&&data.status==200)
            {
                $scope.chirld=data.result;
                $scope.did=id;
                $scope.dname=data.result.dataName;
                $scope.dvalue=data.result.dataValue;
                $scope.dsort=data.result.sort;
                $scope.dkey=data.result.dataKey;
            }
        }
    })
</script>
