<div id="editModal" class="modal fade modal-darkorange" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="bootbox-close-button close" data-dismiss="modal">×</button>
                <h4 class="modal-title">添加</h4>
            </div>
            <form id="defaultForm" name="mainForm" novalidate>
                <div class="modal-body">
                    <div class="bootbox-body">
                        <div class="row">
                            <div class="col-md-9">
                                <input id="id" name="id" data-ng-model="formData.id" data-ng-show="false">
                                <input id="type" name="type" value="1" type="hidden">
                                <div class="form-group">
                                    <label for="name">疾病名称</label>
                                    <input type="text" class="form-control"  id="name" name="name" data-ng-model="formData.name" required placeholder="必填">
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label for="url">疾病文章ID</label>
                                    <input type="text" class="form-control"id="url" name="url"  data-ng-model="formData.url"required placeholder="必填">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <a href="#" class="btn btn-blue" data-dismiss="modal">取消</a>
                    <button type="submit" class="btn btn-danger" data-ng-click="editOther('id','defaultForm')" data-ng-disabled="mainForm.$invalid">提交</button>
                </div>
            </form>
        </div>
    </div>
</div>
