
<div id="editModal" class="modal fade modal-darkorange" tabindex="-1">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="bootbox-close-button close" data-dismiss="modal">×</button>
				<h4 class="modal-title">添加</h4>
			</div>
			<form id="defaultForm" name="mainForm" novalidate>
				<div class="modal-body">
					<div class="bootbox-body">
						<div class="row">
							<div class="col-sm-6">
								<div class="form-group">
									<label for="recordType">记录类型</label>
									<select id="recordType" name="recordType"  data-ng-model="formData.recordType"  required placeholder="必填" style="width: 100%;">
										<option value="">选择记录类型</option>
										<option data-ng-repeat="g in symptomRecordTypeData" value="{{g.dataValue}}">{{g.dataName}}</option>

									</select>
								</div>
							</div>
							<div class="col-sm-6">
								<div class="form-group">
									<label for="gender">性别</label>
									<select id="gender" name="gender" data-ng-model="formData.gender" required placeholder="必填" style="width: 100%;">
										<option value="">选择性别</option>
										<option data-ng-repeat="g in gendersData" value="{{g.dataValue}}">{{g.dataName}}</option>
									</select>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-md-12">
								<input id="id" name="id" data-ng-model="formData.id" data-ng-show="false">
								<div class="form-group">
									<label for="name">症状名称</label>
									<input type="text" class="form-control" id="name" name="name" data-ng-model="formData.name" required placeholder="必填">
								</div>

							</div>
						</div>
						<div class="row">
							<div class="col-md-12">
								<div class="form-group">
									<label for="symDiseaseIds">相关疾病</label>
									<select id="symDiseaseIds" name="diseaseIds" data-ng-model="symDiseaseIds" data-ng-init="getDisease()" class="multiSelect" multiple="multiple" required  style="width: 100%;">
										<option data-ng-repeat="d in diseaseData" value="{{d.id}}">{{d.name}}</option>
									</select>
								</div>

							</div>
						</div>
						<!--#include file="/inc/followSymptom-tags.html"-->
					</div>
				</div>
				<div class="modal-footer">
					<a href="#" class="btn btn-blue" data-dismiss="modal">取消</a>
					<button type="submit" class="btn btn-danger" data-ng-click="editOther('id','defaultForm')" data-ng-disabled="mainForm.$invalid">提交</button>
				</div>
			</form>
		</div>
	</div>
</div>


<script>

	app.controller("sdlDiseaseController",function($scope){

		//获取全部疾病
		$scope.getDisease=function()
		{
			var dt =common_ajax('/sdl/disease/all','get','');
			if (dt) {
				$scope.diseaseData= dt.result;
			}
		}

		$scope.editInfo=function(id)
		{

			var arrId=[];
			var arrName=[];
			$scope.edit(id);
			$scope.id=id;

			if($scope.formData.followSymptoms.length>0)
			{
				for (var i=0;i<$scope.formData.followSymptoms.length;i++) {
					arrId.push($scope.formData.followSymptoms[i].id.toString());
					arrName.push($scope.formData.followSymptoms[i].name);
				}
			}
			$scope.tags=arrName;
			$("#tags").val($scope.tags);

			$scope.followSymptomIds=arrId;
			$("#followSymptomIds").val($scope.followSymptomIds);


		}



	})


</script>