<div id="editModal" class="modal fade modal-darkorange" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="bootbox-close-button close" data-dismiss="modal">×</button>
                <h4 class="modal-title">添加</h4>
            </div>
            <form id="defaultForm" name="mainForm"  enctype="multipart/form-data"  novalidate>
                <div class="modal-body">
                    <div class="bootbox-body">
                        <div class="row">
                            <div class="col-md-8">
                                <input id="id" name="id" data-ng-model="formData.id" data-ng-show="false">
                                <div class="form-group">
                                    <label for="name">名称</label>
                                    <input type="text" class="form-control"  id="name" name="name" data-ng-model="formData.name" data-ng-change="changeFile()" required placeholder="必填">
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="type">类型</label>
                                    <select id="type" name="type"  data-ng-model="formData.type"  required placeholder="必选" data-ng-change="changeFile()" style="width: 100%;">
                                        <option value="">选择类型</option>
                                        <option value="1">公共</option>
                                        <option value="2">私有</option>
                                        <option value="3">动态</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-8">
                            <div class="form-group">
                                <label for="desc">描述</label>
                                <textarea rows="4" cols="20" class="form-control" rel="必填" id="desc" name="desc" data-ng-model="formData.desc"></textarea>
                            </div>
                        </div>
                        <div class="col-sm-4" data-ng-show="showFile==undefined?false:showFile">
                            <div class="form-group">
                                <label >APK文件：</label>
                                <table class="tc_table_cp">
                                    <tr>
                                        <td>
                                            <div id="fileList">

                                            </div>
                                            <div class="cp_img_jia" id="filePicker"></div>
                                            <input data-ng-show="false" id="url" name="url" value="" data-ng-model="formData.url"/>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <a href="#" class="btn btn-blue" data-dismiss="modal">取消</a>
                    <button type="submit" class="btn btn-danger" data-ng-click="editOther('id','defaultForm')" data-ng-disabled="mainForm.$invalid">提交</button>
                </div>
            </form>
            <div id="picturs"></div>
        </div>
    </div>
</div>
<!--#include file="/inc/uploadJs.html"-->
<script>
    //数据赋值
    app.controller("fragmentController",function($scope){
        $scope.editInfo=function(id) {
            $scope.edit(id);
            $scope.formData.id=id;
            $scope.changeFile();
            if($scope.formData.url!="")
            {
                $("#picturs").html('<input type="hidden" id="picture"  value="' + $scope.formData.url + '"/>');
                var html = '<div class="cp_img upload-state-done" flagId="0"><i class="menu-icon fa fa-android bluegreen"></i><div class="cp_img_jian"></div></div>';
                $("#fileList").html(html);
            }
        }

        /*显示或隐藏上传文件按钮*/
        $scope.changeFile=function()
        {
            $scope.showFile=false;
            $("#fileList").html("");
            $scope.formData.url="";
            if($scope.formData.name!=undefined&&$scope.formData.name!=""&&$scope.formData.type!=''&&$scope.formData.type!=undefined) {
                $scope.showFile = true;
                var  uploadServerUrl='/osts/fragment/upload?fragmentType='+$scope.formData.type+'&fragmentName='+$scope.formData.name;
                loadUpload(uploadServerUrl);
            }
        }
    })

    //图片地址赋值
    function subInfo()
    {
        $("#url").val($("#picture").val());
    }
</script>