
<div id="editModal" class="modal fade modal-darkorange" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="bootbox-close-button close" data-dismiss="modal">×</button>
                <h4 class="modal-title">添加</h4>
            </div>
            <form id="defaultForm" name="mainForm" novalidate>
                <div class="modal-body">
                    <div class="bootbox-body">
                        <div class="row">
                            <div class="col-sm-3">
                                <div class="form-group">
                                    <label for="genders">性别</label>
                                    <select id="genders" name="genders" data-ng-model="formData.genders" required placeholder="必选">
                                        <option value="">选择性别</option>
                                        <option data-ng-repeat="g in gendersData" value="{{g.dataValue}}">{{g.dataName}}</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-sm-9">
                                <div class="form-group">
                                    <label for="modeList">模式</label>
                                    <select id="modeList" name="modeList" class="multiSelect" multiple data-ng-model="modeList" style="width:100%;" required placeholder="必选">
                                        <option data-ng-repeat="g in modelData"  value="{{g.dataValue}}" >{{g.dataName}}</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <input id="id" name="id"  data-ng-model="formData.id" data-ng-show="false">
                                <input id="type" name="type" value="1" type="hidden">
                                <div class="form-group">
                                    <label for="name">名称</label>
                                    <textarea id="name" name="name" data-ng-model="formData.name" class="form-control" rows="6" required placeholder="（必填）"></textarea>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="intro">简介信息访问地址</label>
                                    <input type="text" class="form-control" id="intro" name="intro" data-ng-model="fromData.intro">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <a href="#" class="btn btn-blue" data-dismiss="modal">取消</a>
                    <button type="submit" class="btn btn-danger" data-ng-click="editOther('id','defaultForm')" data-ng-disabled="mainForm.$invalid">提交</button>
                </div>
            </form>
        </div>
    </div>
</div>
