<div id="popList" class="modal fade bs-example-modal-lg modal-darkorange" tabindex="-1" style="display:none;">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
            	<button type="button" class="bootbox-close-button close" data-dismiss="modal" aria-hidden="true">×</button>
            	<h4 class="modal-title">相关信息</h4>
            </div>
            <script>
                $('.select2-container').remove();
                $("#modeList").select2({placeholder: "(必选)",allowClear: true});
            </script>
            
            <div class="modal-body">
            	<div class="bootbox-body">
            		
				    <form id="popForm"  name="chirldForm" novalidate>
					    <div class="row">
                            <input name="id" data-ng-model="oid" value="0" data-ng-show="false">
                            <input name="uncoOption.key" data-ng-model="uncoOptionKey" value="0" data-ng-show="false">
				            	
				            <div class="col-md-2">
					            <div class="form-group">
					                <label>性别</label>
						            <select name="genders" data-ng-model="genders" required placeholder="必选">
                                        <option value="">选择性别</option>
                                        <option data-ng-repeat="g in gendersData" value="{{g.dataValue}}">{{g.dataName}}</option>
						            </select>
					            </div>
				            </div>
				            <div class="col-md-10">
				                <div class="form-group">
				                    <label>简介信息访问地址</label>
				                    <input type="text" class="form-control" name="intro" data-ng-model="intro">
				                </div>
				            </div>
				            
				            <div class="col-md-12">
					            <div class="form-group">
						            <label>模式</label>
						            <select id="modeList" name="modeList" data-ng-model="modeList" required placeholder="必选" multiple style="width:100%;">
                                        <option data-ng-repeat="mode in modelData" value="{{mode.dataValue}}">{{mode.dataName}}</option>
						            </select>
						        </div>
				            </div>
					    </div>
					    <div class="row">
				            <div class="col-md-12">
				                <div class="form-group">
				                    <label>建议</label>
				                    <textarea name="name" data-ng-model="name" class="form-control" rows="3" required placeholder="必填"></textarea>
				                </div>
				            </div>
				            <div class="col-md-12">
					            <div class="form-group">
                                    <button type="button" class="btn btn-info" data-ng-click="resetData()">重置</button>
                                    <button type="submit" class="btn btn-danger" data-ng-click="subData()"  data-ng-disabled="chirldForm.$invalid">提交</button>
                                </div>
				            </div>
				        </div>
					</form>  
				    <table class="table table-bordered">
				        <thead class="bordered-palegreen">
				        	<tr>
					            <th width="70">ID</th>
					            <th>建议</th>
					            <th width="45">性别</th>
					            <th width="30%">模式</th>
					            <th width="69">操作</th>
				        	</tr>
				        </thead>
				        <tbody >
                        <tr data-ng-repeat="data in suggesstionData">
                            <td>{{data.id}}</td>
                            <td>{{data.name}}</td>
                            <td><span data-ng-repeat="d in gendersData">{{data.genders==d.dataValue?d.dataName:""}}</span></td>
                            <td><span data-ng-repeat="d in modelData"><span data-ng-repeat="a in data.modeList">{{d.dataValue==a?d.dataName+'，':''}}</span></span></td>
                            <td><a title="编辑" class="btn btn-default btn-xs shiny icon-only sky" data-ng-click="editBox(data.id)" href="javascript:void(0);"><i class="fa fa-edit"></i></a>
                            <a title="删除" class="btn btn-default btn-xs shiny icon-only sky" data-ng-click="delete(data.id)" href="javascript:void(0);"><i class="fa fa-trash-o"></i></a></td>
                        </tr>
				        </tbody>
				    </table>
				    
				</div>
            </div>
        </div>
    </div>
</div>

<!--点名称看关联疾病-->
<div class="modal fade modal-darkorange bs-example-modal-sm">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="bootbox-close-button close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title">关联信息</h4>
            </div>

            <div class="modal-body">
                <div class="bootbox-body">
                    <div class="row" id="preview">
                        <div class="col-lg-12 col-sm-12 col-xs-12">
                            <h5 class="row-title"><i class="fa fa-book themeprimary"></i>关联疾病</h5>
                            <div class="invoice-container">
                                <ul>
                                    <li data-ng-repeat="d in aboutDisease">《{{d.disease.name}}》</li>
                                </ul>
                            </div>

                            <h5 class="row-title"><i class="fa fa-clipboard themeprimary"></i>其他情况</h5>
                            <div class="invoice-container">
                                <ul>
                                    <li data-ng-repeat="a in aboutOther">《{{a.situation.name}}》</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    app.controller("suggestion",function($scope,$timeout){

        $scope.editSuggestion=function(id) {
            $scope.resetData();
            $scope.uncoOptionKey=id;
            var commonData=common_ajaxTb($.format(getPhrSuggestionUncoOptionServerUrl,id),"get","");
            if(commonData&&commonData.status==200)
                $scope.suggesstionData = commonData.result;
            else
                $scope.suggesstionData=null;
        }

        $scope.editBox=function(id) {
            var data=common_ajaxTb('/phr/handler/suggestion/'+id,'get','');
            if(data&&data.status==200)
            {
                $scope.oid=id;
                $scope.genders=data.result.genders;
                $scope.intro=data.result.intro;
                $scope.name=data.result.name;
               $("#modeList").val("");
                if(data.result.modeList.length>0)
                {
                    for (var h = 0; h < data.result.modeList.length; h++) {
                        $("#modeList option[value='"+ data.result.modeList[h]+"']").attr('selected', 'selected');
                    }
                    $timeout(function() {
                        $("#modeList").trigger("change");
                    })

                }

            }

        }

        $scope.delete=function(id) {
            layer.confirm('确认要删除吗？' ,function(){
                var result=common_ajaxTb('/phr/handler/suggestion/'+id,'delete','');
                if(result.status==200) {
                    layer.msg('已删除!', {icon: 1, time: 1000});
                    if(!$scope.$$phase) {
                        $scope.$apply(function () {
                            for (var i = 0; i < $scope.suggesstionData.length; i++) {
                                if ($scope.suggesstionData[i].id == id) {
                                    $scope.suggesstionData.splice(i, 1);
                                }
                            }
                        })
                    }
                }
                else
                {
                    layer.msg('删除失败!', {icon: 1, time: 1000});
                }
            });
        }

        $scope.resetData=function() {
            $scope.genders=3;
            $scope.oid=0;
            $scope.name='';
            $scope.intro='';
            $timeout(function() {
                $("#modeList").val('').trigger("change");
            })
        }

        $scope.subData=function() {
            if($scope.genders==''||$scope.name==''||$("#modeList").val()=='') {
                alert("请输入必填项");
            }
            else
            {
                var action ='put';
                if($scope.oid=="0")
                    action='post';
                var submitData=common_submit('/phr/handler/suggestion',action,"popForm");
                if(submitData&&submitData.status==200) {
                    $scope.editSuggestion($scope.uncoOptionKey);
                    layer.msg('保存成功',{time: 1000});

                }
                else
                    layer.msg('保存失败',{time: 1000});
                return false;
            }
        }

        $scope.preview=function(id) {
            var commonData=common_ajaxTb(getPhrUncoOptionServerUrl+'/'+id,"get","");
            if(commonData&&commonData.status==200)
            {
                $scope.aboutDisease=commonData.result.uncoOptionDiseases;
                $scope.aboutOther=commonData.result.uncoOptionSituations;
            }
        }
    })
</script>