
<div id="editModal" class="modal fade modal-darkorange" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="bootbox-close-button close" data-dismiss="modal">×</button>
                <h4 class="modal-title">添加</h4>
            </div>
            <form id="defaultForm" name="mainForm" novalidate>
                <div class="modal-body">
                    <div class="bootbox-body">
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="type">类型</label>
                                    <select id="type" name="type" data-ng-model="formData.type" required placeholder="必填">
                                        <option value="">选择类型</option>
                                        <option data-ng-repeat="t in phrTypeData" value="{{t.dataValue}}">{{t.dataName}}</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="scene">场景</label>
                                    <select id="scene" name="scene" data-ng-model="formData.scene" required placeholder="必填">
                                        <option value="">选择场景</option>
                                        <option data-ng-repeat="t in phrTipSceneData" value="{{t.dataValue}}">{{t.dataName}}</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <input id="id" name="id" data-ng-model="formData.id" data-ng-show="false">
                                <div class="form-group">
                                    <label for="content">提示内容</label>
                                    <textarea id="content" name="content" class="form-control" rows="3" data-ng-model="formData.content" required placeholder="（必填）"></textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <a href="#" class="btn btn-blue" data-dismiss="modal">取消</a>
                    <button type="submit" class="btn btn-danger" data-ng-click="editOther('id','defaultForm')" data-ng-disabled="mainForm.$invalid">提交</button>
                </div>
            </form>
        </div>
    </div>
</div>
