
<div id="editModal" class="modal fade modal-darkorange" tabindex="-1">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="bootbox-close-button close" data-dismiss="modal">×</button>
				<h4 class="modal-title">添加</h4>
			</div>
			<form id="defaultForm" name="mainForm" novalidate>
				<div class="modal-body">
					<div class="bootbox-body">
						<div class="row">
							<div class="col-sm-6">
								<input id="id" name="uncoOption.key" data-ng-model="formData.key" data-ng-show="false">
								<div class="form-group">
									<label>症状名称</label>
									<input type="text" class="form-control"  name="uncoOption.value" data-ng-model="formData.value" required placeholder="必填">
								</div>
							</div>
							<div class="col-sm-6">
								<div class="form-group">
									<label for="level">等级</label>
									<select id="level" name="uncoOption.level" data-ng-model="formData.level" required placeholder="必选">
										<option value="">选择等级</option>
										<option value="0">无级</option>
										<option value="1">一级</option>
										<option value="2">二级</option>
										<option value="3">三级</option>
									</select>
								</div>
							</div>
						</div>

						<div class="row">
							<div class="col-sm-6">
								<div class="form-group">
									<label for="norm">栏位</label>
									<select id="norm" name="uncoOption.norm" data-ng-model="formData.norm" required placeholder="必选">
										<option value="">选择栏位</option>
										<option value="0"> 其他栏位</option>
										<option value="1">特殊</option>
										<option value="2">其他不适</option>
										<option value="3">颜色</option>
										<option value="4">形状</option>
										<option value="5">感觉</option>
										<option value="6">气味</option>
										<option value="7">造口</option>
										<option value="8">形状颜色</option>
										<option value="9">排量</option>
									</select>
								</div>
							</div>
							<div class="col-sm-6">
								<div class="form-group">
									<label for="type">类型</label>
									<select id="type" name="uncoOption.type" data-ng-model="formData.type" required placeholder="必选">
										<option value="">选择类型</option>
										<option data-ng-repeat="t in phrTypeData" value="{{t.dataValue}}">{{t.dataName}}</option>
									</select>
								</div>
							</div>
						</div>

						<div class="row" data-ng-controller="uncoOption">
							<div class="col-md-12">
								<div class="form-group">
									<label for="uncoDiseaseIds">相关疾病</label>
									<select id="uncoDiseaseIds" name="diseaseIds" data-ng-model="diseaseIds" class="multiSelect" multiple data-ng-init="phrDisease()" style="width: 100%;" required placeholder="必选">
										<option data-ng-repeat="g in phrDiseaseData" value="{{g.id}}">{{phrGenders(g.genders)}}-{{phrMode(g.modeList)}}-<<{{g.name}}>></option>
									</select>
								</div>
							</div>
						</div>

						<div class="row"  data-ng-controller="uncoOption">
							<div class="col-md-12">
								<div class="form-group">
									<label for="situationIds">相关其他情况</label>
									<select id="situationIds" name="situationIds" data-ng-model="situationIds" data-ng-init="phrSituation()" class="multiSelect" multiple style="width: 100%;" required placeholder="必选">
										<option data-ng-repeat="p in phrSituationData" value="{{p.id}}">{{phrGenders(p.genders)}}-{{phrMode(p.modeList)}}-<<{{p.name}}>></option>
									</select>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-md-12">
								<div class="form-group">
									<label for="desc">描述</label>
									<textarea id="desc" name="uncoOption.desc" class="form-control" rows="3"></textarea>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="modal-footer">
					<a href="#" class="btn btn-blue" data-dismiss="modal">取消</a>
					<button type="submit" class="btn btn-danger" data-ng-click="editOther('id','defaultForm')" data-ng-disabled="mainForm.$invalid">提交</button>
				</div>
			</form>
		</div>
	</div>
</div>




<script>
app.controller("uncoOption", function ($scope) {
	$scope.phrDisease=function()
	{
		var dt = common_ajaxTb(getPhrDiseaseAllServerUrl,'get','');
		if (dt) {
			$scope.phrDiseaseData=dt.result;
		}
	}
	
	$scope.phrSituation= function () {
		var dt = common_ajaxTb(getPhrSituationAllServerUrl,'get','');
		if (dt) {
			$scope.phrSituationData=dt.result;
		}
	}

	$scope.phrGenders=function(genders){
		if( $scope.gendersData) {
			for (var i = 0; i < $scope.gendersData.length; i++)
				if ($scope.gendersData[i].dataValue == genders) {
					return $scope.gendersData[i].dataName;
					break;
				}
		}
	}

	$scope.phrMode=function(modeList) {
		if(typeof(modeList)!='object') {
			modeList = [modeList];
		}
		var arr;
		if(modeList.indexOf(',')>=0)
			arr=modeList.split(",");
		else
			arr=modeList;
		var returnStr='';
		if($scope.modelData)
		{
			for(var i=0;i<$scope.modelData.length;i++)
			{
				for(var j=0;j<arr.length;j++)
				{
					if(arr[j]==$scope.modelData[i].dataValue) {
						returnStr=returnStr+','+$scope.modelData[i].dataName;
						break;
					}
				}
			}
		}
		if (returnStr.substr(0,1)==',')
			returnStr=returnStr.substr(1);
		return  returnStr;
	}

})
</script>
