.cron input[type=radio]~.text{line-height: 24px;}
.cron input[type=radio]~.text:before{margin-bottom: 5px;}
.cron label{display: block;}
.cron .secondList label{display: inline;}
.cron .minList label{display: inline;}
.cron .hourList label{display: inline;}
.cron .dayList label{display: inline;}
.cron .mouthList label{display: inline;}
.cron .weekList label{display: inline;}

.cron .spinner{display: inline-block; white-space: nowrap;border:1px solid #d5d5d5;width:50px !important;height:24px !important;margin-top:-3px;overflow:hidden;vertical-align:middle;}
.cron .spinner .spinner-text{width: 32px !important; border:0;text-align:center;vertical-align:baseline;margin:0;padding:0 2px;font-family:inherit;line-height:22px; height: 22px !important;}

.cron .spinner-arrow{display: inline-block; height:24px !important; background-color: #F2F2F2;vertical-align: top;overflow: hidden;}
.cron .spinner-arrow-up{background: url('img/spinner_arrows.png') no-repeat left center;}
.cron .spinner-arrow-down{background: url('img/spinner_arrows.png') no-repeat -16px center;}
.cron .spinner-arrow-up,.cron .spinner-arrow-down {opacity: 0.6;filter: alpha(opacity=60);display: block;font-size: 1px;width: 18px;height: 10px !important;}

#runTime ul{list-style:none; zoom:1; overflow:hidden; margin: 0; padding: 0;}

